#recent_matches

In [1]:
import requests
import pandas as pd
from datetime import datetime

# Convert epoch → normal date
def to_date(ms):
    return datetime.fromtimestamp(int(ms) / 1000) if ms else None

# Fetch data
def fetch_api(url):
    headers = {
        "x-rapidapi-key":"4fe5742a0cmsh3f23a0bcd25198bp1b0ab9jsn9bbf867928ff",
        "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
    }
    return requests.get(url, headers=headers).json()

# Convert team runs to readable format
def score_text(team):
    if not team:
        return ""
    out = []
    for inn in team.values():
        if inn:
            out.append(f"{inn.get('runs',0)}/{inn.get('wickets',0)} ({inn.get('overs',0)} ov)")
    return " | ".join(out)

# Extract only required fields
def extract_recent(data):
    rows = []

    for t in data.get("typeMatches", []):
        for s in t.get("seriesMatches", []):
            for m in s.get("seriesAdWrapper", {}).get("matches", []):
                
                info = m.get("matchInfo", {})
                score = m.get("matchScore", {})

                rows.append({
                    "match_id": info.get("matchId"),
                    "match_desc": info.get("matchDesc"),
                    "team1": info.get("team1", {}).get("teamName"),
                    "team2": info.get("team2", {}).get("teamName"),
                    "start_date": to_date(info.get("startDate")),
                    "status": info.get("status"),
                    "state": info.get("state"),
                    "venue": info.get("venueInfo", {}).get("ground"),
                    "venue_city": info.get("venueInfo", {}).get("city"),
                    "series_name": info.get("seriesName"),
                    "match_format": info.get("matchFormat"),
                    "team1_score": score_text(score.get("team1Score")),
                    "team2_score": score_text(score.get("team2Score"))
                })

    return pd.DataFrame(rows)

# Run
url = "https://cricbuzz-cricket.p.rapidapi.com/matches/v1/recent"
data = fetch_api(url)
recent_matches_01 = extract_recent(data)

recent_matches_01

,match_id,match_desc,team1,team2,start_date,status,state,venue,venue_city,series_name,match_format,team1_score,team2_score
0,117389,1st ODI,India,South Africa,2025-11-30 13:30:00,India won by 17 runs,Complete,JSCA International Stadium Complex,Ranchi,"South Africa tour of India, 2025",ODI,349/8 (49.6 ov),332/10 (49.2 ov)
1,117398,2nd ODI,India,South Africa,2025-12-03 13:30:00,South Africa won by 4 wkts,Complete,Shaheed Veer Narayan Singh International Stadium,Raipur,"South Africa tour of India, 2025",ODI,358/5 (49.6 ov),362/6 (49.2 ov)
2,137866,2-day Warm-up Match,Prime Ministers XI,England XI,2025-11-29 09:10:00,Match drawn,Complete,Manuka Oval,Canberra,"The Ashes, 2025-26",TEST,308/8 (82.6 ov),309/2 (66.3 ov)
3,135068,3rd T20I,Ireland,Bangladesh,2025-12-02 13:30:00,Bangladesh won by 8 wkts,Complete,Bir Sreshtho Flight Lieutenant Matiur Rahman S...,Chattogram,"Ireland tour of Bangladesh, 2025",T20,117/10 (19.5 ov),119/2 (13.4 ov)
4,135063,2nd T20I,Ireland,Bangladesh,2025-11-29 17:30:00,Bangladesh won by 4 wkts,Complete,Bir Sreshtho Flight Lieutenant Matiur Rahman S...,Chattogram,"Ireland tour of Bangladesh, 2025",T20,170/6 (19.6 ov),174/6 (19.4 ov)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,137771,28th Match,Scotland Women,Thailand Women,2025-11-30 12:15:00,Thailand Women won by 3 wkts,Complete,Asian Institute of Technology Ground,Bangkok,ICC Womens Emerging Nations Trophy 2025,T20,63/10 (15.1 ov),65/7 (11.4 ov)
128,139909,4th T20I,"Hong Kong, China Women",Malaysia Women,2025-12-04 07:00:00,"Hong Kong, China Women won by 7 runs",Complete,Bayuemas Oval,Kuala Lumpur,"Hong Kong, China Women tour of Malaysia 2025",T20,104/4 (14.6 ov),97/10 (14.4 ov)
129,139898,3rd T20I,"Hong Kong, China Women",Malaysia Women,2025-12-03 07:30:00,Malaysia Women won by 1 wkt,Complete,Bayuemas Oval,Kuala Lumpur,"Hong Kong, China Women tour of Malaysia 2025",T20,107/7 (19.6 ov),108/9 (19.3 ov)
130,139887,2nd T20I,Malaysia Women,"Hong Kong, China Women",2025-12-01 12:00:00,"Hong Kong, China Women won by 7 wkts",Complete,Bayuemas Oval,Kuala Lumpur,"Hong Kong, China Women tour of Malaysia 2025",T20,109/7 (19.6 ov),110/3 (18.4 ov)
131,139876,1st T20I,Malaysia Women,"Hong Kong, China Women",2025-11-30 12:00:00,Malaysia Women won by 50 runs,Complete,Bayuemas Oval,Kuala Lumpur,"Hong Kong, China Women tour of Malaysia 2025",T20,139/8 (19.6 ov),89/5 (19.6 ov)

In [2]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="admin",
    database="cricbuzz_data"
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

In [3]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS recent_matches (
        match_id BIGINT PRIMARY KEY,
        match_desc VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        start_date DATETIME,
        status VARCHAR(100),
        state VARCHAR(50),
        venue VARCHAR(100),
        venue_city VARCHAR(100),
        series_name VARCHAR(150),
        match_format VARCHAR(20),
        team1_score VARCHAR(50),
        team2_score VARCHAR(50)
    )
    """)

conn_pymysql.commit()

print("Table 'recent_matches' created successfully in MySQL!")

Table 'recent_matches' created successfully in MySQL!

In [5]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
recent_matches_01.to_sql("recent_matches", con=engine, if_exists="append", index=False)

132

In [4]:
import requests
import pandas as pd

# -------------------------------
# ADD YOUR API KEY HERE
# -------------------------------
API_KEY = "e946d582bcmshadc544d9ed3ff7cp1e8a1cjsna5a1c8cbac9c"
HOST = "cricbuzz-cricket.p.rapidapi.com"


HEADERS = {
    "x-rapidapi-key": API_KEY,
    "x-rapidapi-host": HOST
}

# Fetch API 
def fetch_api(url):
    response = requests.get(url, headers=HEADERS)
    response.raise_for_status()
    return response.json()

# Extract stat for one format
def extract_stat(data, stat_name, format_type):
    headers = data.get("headers", [])
    values_list = data.get("values", [])
    
    if format_type not in headers:
        return 0
    
    col_index = headers.index(format_type)
    
    for item in values_list:
        row = item.get("values", [])
        if row and row[0].lower() == stat_name.lower():
            value = row[col_index]
            try:
                return int(value)
            except (ValueError, TypeError):
                return 0
    return 0

# Sum stats across formats
def sum_stats_across_formats(data, stat_name):
    formats = ["Test", "ODI", "T20"]
    total = 0
    for fmt in formats:
        total += extract_stat(data, stat_name, fmt)
    return total

# Fetch player summary
def fetch_players_summary(player_ids):
    all_players = []
    for player_id in player_ids:
        try:
            # Player general info
            player_info = fetch_api(f"https://{HOST}/stats/v1/player/{player_id}")
            # Batting stats
            batting_info = fetch_api(f"https://{HOST}/stats/v1/player/{player_id}/batting")
            # Bowling stats
            bowling_info = fetch_api(f"https://{HOST}/stats/v1/player/{player_id}/bowling")
            
            player_data = {
                "player_id": player_id,
                "full_name": player_info.get("name"),
                "name": player_info.get("nickName"),
                "country": player_info.get("intlTeam"),
                "playing_role": player_info.get("role"),
                "batting_style": player_info.get("bat"),
                "bowling_style": player_info.get("bowl"),
                "total_runs": sum_stats_across_formats(batting_info, "Runs"),
                "total_wickets": sum_stats_across_formats(bowling_info, "Wickets")
            }
            
            all_players.append(player_data)
            print(f" Player {player_id} data fetched")
        except Exception as e:
            print(f" Error fetching player {player_id}: {e}")
    
    return all_players

# Player IDs to fetch
player_ids = [
    25, 265, 576, 587, 1413, 8271, 8313, 8683, 8733, 8808, 9311,
    9428, 9551, 9647, 9720, 10100, 10276, 10551, 10738, 10744,
    10808, 10945, 11177, 11540, 11808, 12086, 12926, 13217, 18504
]

# Fetch data & convert to DataFrame
players_summary = fetch_players_summary(player_ids)
df_players = pd.DataFrame(players_summary)

# Display final DataFrame
print("Final Player Summary DataFrame:")
df_players

 Player 25 data fetched
 Player 265 data fetched
 Player 576 data fetched
 Player 587 data fetched
 Player 1413 data fetched
 Player 8271 data fetched
 Player 8313 data fetched
 Player 8683 data fetched
 Player 8733 data fetched
 Player 8808 data fetched
 Player 9311 data fetched
 Player 9428 data fetched
 Player 9551 data fetched
 Player 9647 data fetched
 Player 9720 data fetched
 Player 10100 data fetched
 Player 10276 data fetched
 Player 10551 data fetched
 Player 10738 data fetched
 Player 10744 data fetched
 Player 10808 data fetched
 Player 10945 data fetched
 Player 11177 data fetched
 Player 11540 data fetched
 Player 11808 data fetched
 Player 12086 data fetched
 Player 12926 data fetched
 Player 13217 data fetched
 Player 18504 data fetched
Final Player Summary DataFrame:

,player_id,full_name,name,country,playing_role,batting_style,bowling_style,total_runs,total_wickets
0,25,Sachin Tendulkar,Tendulkar,India,Batsman,Right Handed Bat,Right-arm legbreak,34357,201
1,265,MS Dhoni,Dhoni,India,WK-Batsman,Right Handed Bat,Right-arm medium,17266,1
2,576,Rohit Sharma,Rohit,India,Batsman,Right Handed Bat,Right-arm offbreak,19973,12
3,587,Ravindra Jadeja,Jadeja,India,Bowling Allrounder,Left Handed Bat,Left-arm orthodox,7472,633
4,1413,Virat Kohli,Kohli,India,Batsman,Right Handed Bat,Right-arm medium,27910,9
5,8271,Sanju Samson,Samson,India,WK-Batsman,Right Handed Bat,None,1505,0
6,8313,Jason Holder,Holder,West Indies,Bowling Allrounder,Right Handed Bat,Right-arm fast-medium,6056,418
7,8683,Shardul Thakur,Thakur,India,Bowling Allrounder,Right Handed Bat,Right-arm fast-medium,775,131
8,8733,KL Rahul,Rahul,India,WK-Batsman,Right Handed Bat,None,9536,0
9,8808,Axar Patel,Axar,India,Bowling Allrounder,Left Handed Bat,Left-arm orthodox,2183,211
10,9311,Jasprit Bumrah,Bumrah,India,Bowler,Right Handed Bat,Right-arm fast,447,482
11,9428,Shreyas Iyer,Shreyas Iyer,India,Batsman,Right Handed Bat,Right-arm legbreak,4832,0
12,9551,Michael Bracewell,Michael Bracewell,New Zealand,Batting Allrounder,Left Handed Bat,Right-arm offbreak,1667,96
13,9647,Hardik Pandya,Hardik Pandya,India,Batting Allrounder,Right Handed Bat,Right-arm fast-medium,4296,206
14,9720,Keshav Maharaj,Maharaj,South Africa,Bowler,Right Handed Bat,Left-arm orthodox,1741,328
15,10100,Mitchell Santner,Santner,New Zealand,Bowling Allrounder,Left Handed Bat,Left-arm orthodox,3513,341
16,10276,Ishan Kishan,Ishan Kishan,India,WK-Batsman,Left Handed Bat,None,1807,0
17,10551,Prasidh Krishna,Prasidh,India,Bowler,Right Handed Bat,Right-arm fast,12,63
18,10738,Rashid Khan,Rashid Khan,Afghanistan,Bowling Allrounder,Right Handed Bat,Right-arm legbreak,2149,437
19,10744,Rishabh Pant,Pant,India,WK-Batsman,Left Handed Bat,None,5556,0
20,10808,Mohammed Siraj,Siraj,India,Bowler,Right Handed Bat,Right-arm fast,223,226
21,10945,Washington Sundar,Washington Sundar,India,Bowling Allrounder,Left Handed Bat,Right-arm offbreak,1504,116
22,11177,Rachin Ravindra,Ravindra,New Zealand,Batting Allrounder,Left Handed Bat,Left-arm orthodox,3376,45
23,11540,Jofra Archer,Jofra Archer,England,Bowler,Right Handed Bat,Right-arm fast,460,162
24,11808,Shubman Gill,Gill,India,Batsman,Right Handed Bat,Right-arm offbreak,6498,0
25,12086,Abhishek Sharma,Abhishek Sharma,India,Batting Allrounder,Left Handed Bat,Left-arm orthodox,1012,6
26,12926,Varun Chakaravarthy,Varun Chakaravarthy,India,Bowler,Right Handed Bat,Right-arm legbreak,2,55
27,13217,Arshdeep Singh,Arshdeep Singh,India,Bowler,Left Handed Bat,Left-arm fast-medium,124,126
28,18504,Maheesh Theekshana,Theekshana,Sri Lanka,Bowler,Right Handed Bat,Right-arm offbreak,497,153

In [7]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS players (
        player_id INT PRIMARY KEY,
        full_name VARCHAR(100),
        name VARCHAR(150),
        country VARCHAR(50),
        playing_role VARCHAR(50),
        batting_style VARCHAR(50),
        bowling_style VARCHAR(50),
        total_runs INT,
        total_wickets INT
    )
    """)

conn_pymysql.commit()

print("Table 'players' created successfully in MySQL!")

Table 'players' created successfully in MySQL!

In [8]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
df_players.to_sql("players", con=engine, if_exists="append", index=False)

29

In [10]:
import requests
import pandas as pd
from datetime import datetime

# -------------------------------------------------------
# 🔐 ADD YOUR API KEY HERE (only edit this part)
API_KEY = "e946d582bcmshadc544d9ed3ff7cp1e8a1cjsna5a1c8cbac9c"
HEADERS = {
    "x-rapidapi-key": API_KEY,
    "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}
# -------------------------------------------------------

# Fetch API (clean version)
def fetch_api(url):
    response = requests.get(url, headers=HEADERS)
    return response.json()

# Helper: Format innings scores
def format_scores(team_score):
    if not team_score:
        return ""
    scores = []
    for key, innings in team_score.items():
        if innings:
            runs = innings.get("runs", 0)
            wickets = innings.get("wickets", 0)
            overs = innings.get("overs", 0)
            scores.append(f"{runs}/{wickets} ({overs} ov)")
    return " | ".join(scores)

# Extract match details from one series
def extract_series_matches(data):
    all_matches = []
    match_details = data.get("matchDetails", [])

    for item in match_details:
        map_data = item.get("matchDetailsMap")
        if not map_data:
            continue

        matches = map_data.get("match", [])
        for m in matches:
            info = m.get("matchInfo", {})
            score = m.get("matchScore", {})

            team1_score = format_scores(score.get("team1Score"))
            team2_score = format_scores(score.get("team2Score"))

            start_dt = datetime.fromtimestamp(int(info.get("startDate", 0)) / 1000)
            end_dt = datetime.fromtimestamp(int(info.get("endDate", 0)) / 1000)

            match_data = {
                "match_id": info.get("matchId"),
                "match_desc": info.get("matchDesc"),
                "team1": info.get("team1", {}).get("teamName"),
                "team2": info.get("team2", {}).get("teamName"),
                "start_date": start_dt,
                "end_date": end_dt,
                "status": info.get("status"),
                "state": info.get("state"),
                "venue": info.get("venueInfo", {}).get("ground"),
                "series_name": info.get("seriesName"),
                "match_format": info.get("matchFormat"),
                "team1_score": team1_score,
                "team2_score": team2_score
            }
            all_matches.append(match_data)

    return pd.DataFrame(all_matches)

# ------------------------------------
# Fetch multiple series
# ------------------------------------
series_ids = [8393, 4905, 8528, 3692]
all_matches_df = pd.DataFrame()

for sid in series_ids:
    url = f"https://cricbuzz-cricket.p.rapidapi.com/series/v1/{sid}"
    data = fetch_api(url)
    df = extract_series_matches(data)
    all_matches_df = pd.concat([all_matches_df, df], ignore_index=True)

# Display final combined DataFrame
print("All Series Matches DataFrame:")
print(all_matches_df)

All Series Matches DataFrame:
    match_id match_desc       team1       team2          start_date  \
0     100220   1st Test       INDIA  BANGLADESH 2024-09-19 09:30:00
1     100229   2nd Test       INDIA  BANGLADESH 2024-09-27 09:30:00
2     100238   1st T20I       INDIA  BANGLADESH 2024-10-06 19:00:00
3     100247   2nd T20I       INDIA  BANGLADESH 2024-10-09 19:00:00
4     100256   3rd T20I       INDIA  BANGLADESH 2024-10-12 19:00:00
5      56955    1st ODI  BANGLADESH       INDIA 2022-12-04 11:30:00
6      56962    2nd ODI  BANGLADESH       INDIA 2022-12-07 11:30:00
7      56964    3rd ODI  BANGLADESH       INDIA 2022-12-10 11:30:00
8      56969   1st Test  BANGLADESH       INDIA 2022-12-14 09:00:00
9      56976   2nd Test  BANGLADESH       INDIA 2022-12-22 09:00:00
10    101535   1st T20I   SRI LANKA       INDIA 2024-07-27 19:00:00
11    101540   2nd T20I   SRI LANKA       INDIA 2024-07-28 19:00:00
12    101545   3rd T20I   SRI LANKA       INDIA 2024-07-30 19:00:00
13    101549    1st ODI   SRI LANKA       INDIA 2024-08-02 14:30:00
14    101550    2nd ODI   SRI LANKA       INDIA 2024-08-04 14:30:00
15    101555    3rd ODI   SRI LANKA       INDIA 2024-08-07 14:30:00
16     38632   1st T20I       INDIA   SRI LANKA 2022-02-24 19:00:00
17     38637   2nd T20I       INDIA   SRI LANKA 2022-02-26 19:00:00
18     38642   3rd T20I       INDIA   SRI LANKA 2022-02-27 19:00:00
19     38622   1st Test       INDIA   SRI LANKA 2022-03-04 09:30:00
20     38627   2nd Test       INDIA   SRI LANKA 2022-03-12 14:00:00

              end_date                                             status  \
0  2024-09-23 09:30:00                              India won by 280 runs
1  2024-10-01 09:30:00                                India won by 7 wkts
2  2024-10-06 19:00:00                                India won by 7 wkts
3  2024-10-09 19:00:00                               India won by 86 runs
4  2024-10-12 19:00:00                              India won by 133 runs
5  2022-12-04 11:30:00                            Bangladesh won by 1 wkt
6  2022-12-07 11:30:00                           Bangladesh won by 5 runs
7  2022-12-10 11:30:00                              India won by 227 runs
8  2022-12-18 09:00:00                              India won by 188 runs
9  2022-12-26 09:00:00                                India won by 3 wkts
10 2024-07-27 19:00:00                               India won by 43 runs
11 2024-07-28 19:00:00  India won by 7 wkts (2nd innings reduced to 8 ...
12 2024-07-30 19:00:00              Match tied (India won the super over)
13 2024-08-02 14:30:00                                         Match tied
14 2024-08-04 14:30:00                           Sri Lanka won by 32 runs
15 2024-08-07 14:30:00                          Sri Lanka won by 110 runs
16 2022-02-24 19:00:00                               India won by 62 runs
17 2022-02-26 19:00:00                                India won by 7 wkts
18 2022-02-27 19:00:00                                India won by 6 wkts
19 2022-03-08 09:30:00               India won by an innings and 222 runs
20 2022-03-16 14:00:00                              India won by 238 runs

       state                                              venue  \
0   complete                             MA Chidambaram Stadium
1   complete                                         Green Park
2   complete         Shrimant Madhavrao Scindia Cricket Stadium
3   complete                               Arun Jaitley Stadium
4   complete                 Rajiv Gandhi International Stadium
5   complete                      Shere Bangla National Stadium
6   complete                      Shere Bangla National Stadium
7   complete  Bir Sreshtho Flight Lieutenant Matiur Rahman S...
8   complete  Bir Sreshtho Flight Lieutenant Matiur Rahman S...
9   complete                      Shere Bangla National Stadium
10  complete            Pallekele International Cricket Stadium
11  complete            Pallekele International Cricket Stadium
12  complete            Pallekele International Cricket Stadium
13  complete                                R.Premadasa Stadium
14  complete                                R.Premadasa Stadium
15  complete                                R.Premadasa Stadium
16  complete  Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
17  complete       Himachal Pradesh Cricket Association Stadium
18  complete       Himachal Pradesh Cricket Association Stadium
19  complete       Punjab Cricket Association IS Bindra Stadium
20  complete                              M.Chinnaswamy Stadium

                       series_name match_format  \
0   Bangladesh tour of India, 2024         TEST
1   Bangladesh tour of India, 2024         TEST
2   Bangladesh tour of India, 2024          T20
3   Bangladesh tour of India, 2024          T20
4   Bangladesh tour of India, 2024          T20
5   India tour of Bangladesh, 2022          ODI
6   India tour of Bangladesh, 2022          ODI
7   India tour of Bangladesh, 2022          ODI
8   India tour of Bangladesh, 2022         TEST
9   India tour of Bangladesh, 2022         TEST
10   India tour of Sri Lanka, 2024          T20
11   India tour of Sri Lanka, 2024          T20
12   India tour of Sri Lanka, 2024          T20
13   India tour of Sri Lanka, 2024          ODI
14   India tour of Sri Lanka, 2024          ODI
15   India tour of Sri Lanka, 2024          ODI
16   Sri Lanka tour of India, 2022          T20
17   Sri Lanka tour of India, 2022          T20
18   Sri Lanka tour of India, 2022          T20
19   Sri Lanka tour of India, 2022         TEST
20   Sri Lanka tour of India, 2022         TEST

                             team1_score                          team2_score
0     376/10 (91.2 ov) | 287/4 (64.0 ov)  149/10 (47.1 ov) | 234/10 (62.1 ov)
1       285/9 (34.4 ov) | 98/3 (17.2 ov)  233/10 (74.2 ov) | 146/10 (47.0 ov)
2                        132/3 (11.5 ov)                     127/10 (19.5 ov)
3                        221/9 (20.0 ov)                      135/9 (20.0 ov)
4                        297/6 (20.0 ov)                      164/7 (20.0 ov)
5                        187/9 (46.0 ov)                     186/10 (41.2 ov)
6                        271/7 (50.0 ov)                      266/9 (50.0 ov)
7                       182/10 (34.0 ov)                      409/8 (50.0 ov)
8   150/10 (55.5 ov) | 324/10 (113.2 ov)  404/10 (133.5 ov) | 258/2 (61.4 ov)
9    227/10 (73.5 ov) | 231/10 (70.2 ov)   314/10 (86.3 ov) | 145/7 (47.0 ov)
10                      170/10 (19.2 ov)                      213/7 (20.0 ov)
11                       161/9 (20.0 ov)                        81/3 (6.3 ov)
12                       137/8 (20.0 ov)                      137/9 (20.0 ov)
13                       230/8 (50.0 ov)                     230/10 (47.5 ov)
14                       240/9 (50.0 ov)                     208/10 (42.2 ov)
15                       248/7 (50.0 ov)                     138/10 (26.1 ov)
16                       199/2 (20.0 ov)                      137/6 (20.0 ov)
17                       186/3 (17.1 ov)                      183/5 (20.0 ov)
18                       148/4 (16.5 ov)                      146/5 (20.0 ov)
19                      574/8 (129.2 ov)  174/10 (65.0 ov) | 178/10 (60.0 ov)
20    252/10 (59.1 ov) | 303/9 (68.5 ov)  109/10 (35.5 ov) | 208/10 (59.3 ov)

In [11]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS series_matches (
        match_id BIGINT PRIMARY KEY,
        match_desc VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        start_date DATETIME,
        end_date DATETIME,
        status VARCHAR(100),
        state VARCHAR(50),
        venue VARCHAR(100),
        series_name VARCHAR(150),
        match_format VARCHAR(20),
        team1_score VARCHAR(50),
        team2_score VARCHAR(50)
    )
    """)

conn_pymysql.commit()

print("Table 'series_matches' created successfully in MySQL!")

Table 'series_matches' created successfully in MySQL!

In [12]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
all_matches_df.to_sql("series_matches", con=engine, if_exists="append", index=False)

21

In [5]:
import requests
import pandas as pd

def fetch_top_odi_runs(api_key):
    """
    Fetches top ODI run scorers from Cricbuzz API and returns a DataFrame.
    """
    
    url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/topstats/0"
    querystring = {"statsType": "mostRuns", "matchType": "2"}  # "2" = ODI
    
    headers = {
        "x-rapidapi-key": api_key,   # FIXED
        "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
    }
    
    # Fetch data from API
    response = requests.get(url, headers=headers, params=querystring)
    
    if response.status_code != 200:
        raise Exception(f"API request failed with status code {response.status_code}")
    
    data = response.json()
    
    rows = []
    values = data.get("values", [])
    
    for item in values:
        row = item.get("values", [])
        if len(row) >= 6:
            try:
                rows.append({
                    "player_id": int(row[0]),
                    "player_name": row[1],
                    "matches": int(row[2]),
                    "innings": int(row[3]),
                    "runs": int(row[4]),
                    "average": float(row[5])
                })
            except ValueError:
                continue
    
    return pd.DataFrame(rows)


# --- CALL FUNCTION ---
api_key = "5525478aebmsh28bd9ab00634710p1b585fjsn2b0834636487"   # <--- ADD YOUR KEY HERE

odi_topruns = fetch_top_odi_runs(api_key)

print("Top ODI Run Scorers DataFrame:")
print(odi_topruns)

Top ODI Run Scorers DataFrame:
    player_id     player_name  matches  innings   runs  average
0          25       Tendulkar      463      452  18426    44.83
1        1413           Kohli      308      296  14557    58.46
2         104      Sangakkara      404      380  14234    41.99
3          38       R Ponting      375      365  13704    42.04
4         102    S Jayasuriya      445      433  13430    32.36
5         101          Mahela      448      418  12650    33.38
6          35  Inzamam-ul-Haq      378      350  11739    39.53
7         213          Kallis      328      314  11579    44.36
8         576           Rohit      279      271  11516    49.21
9          29       S Ganguly      311      300  11363    41.02
10         27          Dravid      344      318  10889    39.17
11        265           Dhoni      350      297  10773    50.58
12        247           Gayle      301      294  10480    37.83
13        240          B Lara      299      289  10405    40.49
14        105         Dilshan      330      303  10290    39.27
15         34        M Yousuf      288      273   9720    41.72
16         36     A Gilchrist      287      279   9619    35.89
17        370     de Villiers      228      218   9577    53.50
18       3864    M Azharuddin      334      308   9378    36.92
19       3531         A Silva      308      296   9284    34.90

In [16]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS top_odi_run (
        player_id BIGINT PRIMARY KEY,
        player_name VARCHAR(150),
        matches INT,
        innings INT,
        runs INT,
        average FLOAT
    )
    """)

conn_pymysql.commit()

print("Table 'top_odi_run' created successfully in MySQL!")

Table 'top_odi_run' created successfully in MySQL!

In [17]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
odi_topruns.to_sql("top_odi_run", con=engine, if_exists="append", index=False)

20

In [6]:
import requests
import pandas as pd

# RapidAPI headers for venue fetches
API_KEY = "5525478aebmsh28bd9ab00634710p1b585fjsn2b0834636487"
HEADERS = {
    "x-rapidapi-key": API_KEY,
    "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

# Function to extract venue details using requests + headers
def extract_venue_details(venue_ids):
    """
    Takes a list of venue IDs, fetches data from the API for each ID,
    and returns a DataFrame with venue_id, venue_name, city, country, capacity.
    If API response is empty, still returns an empty row for that ID.
    """
    all_venues = []

    for vid in venue_ids:
        url = f"https://cricbuzz-cricket.p.rapidapi.com/venues/v1/{vid}"
        try:
            resp = requests.get(url, headers=HEADERS, timeout=12)
            resp.raise_for_status()
            data = resp.json() or {}
        except Exception as e:
            print(f" Error fetching venue {vid}: {e}")
            data = {}

        venue_info = {
            "venue_id": vid,
            "venue_name": data.get("ground", ""),
            "city": data.get("city", ""),
            "country": data.get("country", ""),
            "capacity": data.get("capacity", "")
        }
        all_venues.append(venue_info)

    return pd.DataFrame(all_venues)


# Example usage
venue_ids = [10, 11, 19, 27, 31, 34, 40, 41, 46, 50, 65, 80, 81, 87, 153, 485]

venues_data = extract_venue_details(venue_ids)

print("Venue Details DataFrame:")
venues_data

Venue Details DataFrame:

,venue_id,venue_name,city,country,capacity
0,10,Brabourne Stadium,Mumbai,India,"20,000"
1,11,MA Chidambaram Stadium,Chennai,India,50000
2,19,Lord's,London,England,30000
3,27,M.Chinnaswamy Stadium,Bengaluru,India,"40,000"
4,31,Eden Gardens,Kolkata,India,63000
5,34,Sydney Cricket Ground,Sydney,Australia,"48,000"
6,40,Adelaide Oval,Adelaide,Australia,"53,583 (including standing room)"
7,41,Eden Park,Auckland,New Zealand,"41,000"
8,46,Punjab Cricket Association IS Bindra Stadium,Mohali,India,30000
9,50,Narendra Modi Stadium,Ahmedabad,India,"132,000"
10,65,Emirates Old Trafford,Manchester,England,19000
11,80,Rajiv Gandhi International Stadium,Hyderabad,India,38000
12,81,Wankhede Stadium,Mumbai,India,"33,000"
13,87,Melbourne Cricket Ground,Melbourne,Australia,"100000 (approx, including standing room)"
14,153,Dubai International Cricket Stadium,Dubai,United Arab Emirates,"25,000"
15,485,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,India,50000

In [8]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS venues (
        venue_id BIGINT PRIMARY KEY,
        venue_name VARCHAR(150),
        city VARCHAR(100),
        country VARCHAR(100),
        capacity VARCHAR(50)
    )
    """)

conn_pymysql.commit()

print("Table 'venues' created successfully in MySQL!")

NameError: name 'cursor_pymysql' is not defined

In [9]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
venues_data.to_sql("venues", con=engine, if_exists="append", index=False)

16

In [65]:
import requests
import pandas as pd
import time

# -----------------------------
# 🔐 Put your RapidAPI key here
API_KEY = "7040cfdf83msh661b6967053c801p1acd55jsn586cbc4051d9"
HEADERS = {
    "x-rapidapi-key": API_KEY,
    "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}
# -----------------------------

def fetch_api(url, params=None):
    """Simple API GET with basic error handling — returns dict on success or {} on failure."""
    try:
        resp = requests.get(url, headers=HEADERS, params=params, timeout=10)
        resp.raise_for_status()
        return resp.json()
    except requests.RequestException as e:
        print(f"Request error for {url}: {e}")
        return {}

def _to_int(val):
    """Convert various numeric-like values to int; return 0 on failure."""
    try:
        if val is None:
            return 0
        s = str(val).replace(",", "").strip()
        return int(float(s))
    except Exception:
        return 0

def extract_players_stats(player_ids):
    """
    Fetch player profile and batting stats for player_ids.
    Returns DataFrame with columns: player_id, player_name, role, test_runs, odi_runs, t20_runs
    """
    rows = []
    for pid in player_ids:
        # profile
        profile = fetch_api(f"https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/{pid}") or {}
        name = profile.get("name") or profile.get("playerName") or f"player_{pid}"
        role = profile.get("role") or ""

        # batting stats
        bat = fetch_api(f"https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/{pid}/batting") or {}
        test_runs = odi_runs = t20_runs = 0

        for item in bat.get("values", []):
            row_vals = item.get("values", [])
            if row_vals and len(row_vals) >= 4 and str(row_vals[0]).strip().lower() == "runs":
                test_runs = _to_int(row_vals[1])
                odi_runs  = _to_int(row_vals[2])
                t20_runs  = _to_int(row_vals[3])
                break

        rows.append({
            "player_id": pid,
            "player_name": name,
            "role": role,
            "test_runs": test_runs,
            "odi_runs": odi_runs,
            "t20_runs": t20_runs
        })

        # polite pause to reduce risk of hitting rate limits
        time.sleep(0.2)

    return pd.DataFrame(rows)


if __name__ == "__main__":
    player_ids = [
        247, 265, 576, 1413, 2250, 6326, 8019, 8271, 8313, 8683,
        8733, 8808, 9311, 9428, 9551, 9647, 9720, 10100, 10276,
        10551, 10738, 10744
    ]

    df_players = extract_players_stats(player_ids)
    pd.set_option("display.max_rows", None)
    pd.set_option("display.max_columns", None)
    print(df_players)

    player_id        player_name                role  test_runs  odi_runs  \
0         247        Chris Gayle             Batsman       7215     10480
1         265           MS Dhoni          WK-Batsman       4876     10773
2         576       Rohit Sharma             Batsman       4301     11441
3        1413        Virat Kohli             Batsman       9230     14492
4        2250       Steven Smith             Batsman      10496      5800
5        6326    Kane Williamson             Batsman       9337      7257
6        8019           Joe Root             Batsman      13689      7330
7        8271       Sanju Samson          WK-Batsman          0       510
8        8313       Jason Holder  Bowling Allrounder       3073      2237
9        8683     Shardul Thakur  Bowling Allrounder        377       329
10       8733           KL Rahul          WK-Batsman       4053      3218
11       8808         Axar Patel  Bowling Allrounder        688       858
12       9311     Jasprit Bumrah              Bowler        348        91
13       9428       Shreyas Iyer             Batsman        811      2917
14       9551  Michael Bracewell  Batting Allrounder        339       912
15       9647      Hardik Pandya  Batting Allrounder        532      1904
16       9720     Keshav Maharaj              Bowler       1334       304
17      10100   Mitchell Santner  Bowling Allrounder       1085      1580
18      10276       Ishan Kishan          WK-Batsman         78       933
19      10551    Prasidh Krishna              Bowler         10         2
20      10738        Rashid Khan  Bowling Allrounder        154      1393
21      10744       Rishabh Pant          WK-Batsman       3476       871

    t20_runs
0       1899
1       1617
2       4231
3       4188
4       1094
5       2575
6        893
7        995
8        746
9         69
10      2265
11       637
12         8
13      1104
14       434
15      1860
16       103
17       848
18       796
19         0
20       602
21      1209

In [66]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS players_stats (
        player_id BIGINT PRIMARY KEY,
        player_name VARCHAR(100),
        role VARCHAR(50),
        test_runs INT,
        odi_runs INT,
        t20_runs INT
    )
    """)

conn_pymysql.commit()

print("Table 'players_stats' created successfully in MySQL!")

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
df_players.to_sql("players_stats", con=engine, if_exists="append", index=False)

Table 'players_stats' created successfully in MySQL!

22

In [39]:
import requests
import pandas as pd
from datetime import datetime

# STEP 1: Fetch API data
def fetch_matches_api(url, headers=None):
    if headers is None:
        headers = {
            "x-rapidapi-key": api_key,
            "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
        }
    response = requests.get(url, headers=headers)
    response.raise_for_status()
    return response.json()

# STEP 2: Extract combined match info
def extract_combined_match_data(match_ids):
    all_matches = []

    for mid in match_ids:
        try:
            # --- API URLs (defined per match) ---
            url_match = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}"
            url_leanback = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/leanback"

            match_data = fetch_matches_api(url_match)
            leanback_data = fetch_matches_api(url_leanback)

            match_id = match_data.get("matchid")
            series_name = match_data.get("seriesname")
            match_format = match_data.get("matchformat")
            match_date = datetime.fromtimestamp(match_data.get("startdate", 0)/1000).date() if match_data.get("startdate") else None
            venue = match_data.get("venueinfo", {}).get("ground")
            team1 = match_data.get("team1", {}).get("teamname")
            team2 = match_data.get("team2", {}).get("teamname")

            toss_info = leanback_data.get("matchheaders", {}).get("tossresults", {})
            toss_winner = toss_info.get("tosswinnername")
            toss_decision = toss_info.get("decision")

            matchheaders = leanback_data.get("matchheaders", {})
            match_winner = None
            if matchheaders.get("status"):
                match_winner = matchheaders["status"].split(" won")[0]

            match_info = {
                "match_id": match_id,
                "format": match_format,
                "series_name": series_name,
                "match_date": match_date,
                "venue": venue,
                "team1": team1,
                "team2": team2,
                "toss_winner": toss_winner,
                "toss_decision": toss_decision,
                "match_winner": match_winner,
                "win_margin": matchheaders.get("status")
            }

            all_matches.append(match_info)

        except Exception as e:
            print(f"Failed to fetch match {mid}: {e}")

    return pd.DataFrame(all_matches)

# Call for multiple matches (all variables at bottom)
api_key = "42ba173510msh8668786dd4440a9p1855c7jsnb61dc18d9c24"
match_ids = [30554, 32047, 43061, 59979, 59981, 60035, 60042, 69862, 75476, 76465, 
             76535, 77894, 78558, 82462, 87626, 87878, 91778, 91787, 100283, 
             100290, 100312, 100328, 105762, 105770, 105780, 105804, 
             112462, 116972, 116981, 116990, 130019]
   # Add more IDs as needed

df_combined_matches = extract_combined_match_data(match_ids)
df_combined_matches

,match_id,format,series_name,match_date,venue,team1,team2,toss_winner,toss_decision,match_winner,win_margin
0,30554,TEST,"India tour of Australia, 2020-21",2020-12-17,Adelaide Oval,Australia,India,,,Australia,Australia won by 8 wkts
1,32047,TEST,"India tour of England, 2021",2021-08-04,Trent Bridge,England,India,,,Match drawn,Match drawn
2,43061,T20,ICC Mens T20 World Cup 2022,2022-10-23,Melbourne Cricket Ground,India,Pakistan,India,Bowling,India,India won by 4 wkts
3,59979,ODI,"Sri Lanka tour of India, 2023",2023-01-15,Greenfield International Stadium,India,Sri Lanka,India,Batting,India,India won by 317 runs
4,59981,ODI,"New Zealand tour of India, 2023",2023-01-18,Rajiv Gandhi International Stadium,India,New Zealand,India,Batting,India,India won by 12 runs
5,60035,ODI,"Australia tour of India, 2023",2023-03-17,Wankhede Stadium,India,Australia,India,Bowling,India,India won by 5 wkts
6,60042,ODI,"Australia tour of India, 2023",2023-03-22,MA Chidambaram Stadium,India,Australia,Australia,Batting,Australia,Australia won by 21 runs
7,69862,T20,"Australia tour of South Africa, 2023",2023-09-03,Kingsmead,South Africa,Australia,South Africa,Batting,Australia,Australia won by 5 wkts
8,75476,ODI,ICC Cricket World Cup 2023,2023-10-14,Narendra Modi Stadium,India,Pakistan,India,Bowling,India,India won by 7 wkts
9,76465,T20,"Pakistan tour of England, 2024",2024-05-25,Edgbaston,England,Pakistan,Pakistan,Bowling,England,England won by 23 runs
10,76535,T20,"Australia tour of England, 2024",2024-09-13,Sophia Gardens,England,Australia,England,Bowling,England,England won by 3 wkts
11,77894,TEST,"India tour of South Africa, 2023-24",2023-12-26,SuperSport Park,South Africa,India,South Africa,Bowling,South Africa,South Africa won by an innings and 32 runs
12,78558,ODI,"Australia tour of India, 2023",2023-09-24,Holkar Cricket Stadium,India,Australia,Australia,Bowling,India,India won by 99 runs (2nd innings reduced to 3...
13,82462,T20,"Australia tour of India, 2023",2023-12-01,Shaheed Veer Narayan Singh International Stadium,India,Australia,Australia,Bowling,India,India won by 20 runs
14,87626,T20,ICC Mens T20 World Cup 2024,2024-06-09,Nassau County International Cricket Stadium,India,Pakistan,Pakistan,Bowling,India,India won by 6 runs
15,87878,T20,ICC Mens T20 World Cup 2024,2024-06-29,Kensington Oval,South Africa,India,India,Batting,India,India won by 7 runs
16,91778,TEST,"India tour of Australia, 2024-25",2024-11-22,Perth Stadium,Australia,India,India,Batting,India,India won by 295 runs
17,91787,TEST,"India tour of Australia, 2024-25",2024-12-06,Adelaide Oval,Australia,India,India,Batting,Australia,Australia won by 10 wkts
18,100283,T20,"England tour of India, 2025",2025-01-22,Eden Gardens,India,England,India,Bowling,India,India won by 7 wkts
19,100290,T20,"England tour of India, 2025",2025-01-25,MA Chidambaram Stadium,India,England,India,Bowling,India,India won by 2 wkts
20,100312,ODI,"England tour of India, 2025",2025-02-06,Vidarbha Cricket Association Stadium,India,England,England,Batting,India,India won by 4 wkts
21,100328,ODI,"England tour of India, 2025",2025-02-12,Narendra Modi Stadium,India,England,England,Bowling,India,India won by 142 runs
22,105762,TEST,"India tour of England, 2025",2025-06-20,Headingley,England,India,England,Bowling,England,England won by 5 wkts
23,105770,TEST,"India tour of England, 2025",2025-07-02,Edgbaston,England,India,England,Bowling,India,India won by 336 runs
24,105780,TEST,"India tour of England, 2025",2025-07-31,Kennington Oval,England,India,England,Bowling,India,India won by 6 runs
25,105804,T20,"South Africa tour of England, 2025",2025-09-12,Emirates Old Trafford,England,South Africa,South Africa,Bowling,England,England won by 146 runs
26,112462,ODI,"ICC Champions Trophy, 2025",2025-03-04,Dubai International Cricket Stadium,India,Australia,Australia,Batting,India,India won by 4 wkts
27,116972,T20,"South Africa tour of Australia, 2025",2025-08-10,Marrara Cricket Ground,Australia,South Africa,South Africa,Bowling,Australia,Australia won by 17 runs
28,116981,T20,"South Africa tour of Australia, 2025",2025-08-12,Marrara Cricket Ground,Australia,South Africa,Australia,Bowling,South Africa,South Africa won by 53 runs
29,116990,T20,"South Africa tour of Australia, 2025",2025-08-16,Cazaly's Stadium,Australia,South Africa,Australia,Bowling,Australia,Australia won by 2 wkts
30,130019,T20,Asia Cup 2025,2025-09-10,Dubai International Cricket Stadium,India,United Arab Emirates,India,Bowling,India,India won by 9 wkts

In [40]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS combined_matches (
        match_id BIGINT PRIMARY KEY,
        format VARCHAR(20),
        series_name VARCHAR(150),
        match_date DATE,
        venue VARCHAR(100),
        team1 VARCHAR(50),
        team2 VARCHAR(50),
        toss_winner VARCHAR(50),
        toss_decision VARCHAR(20),
        match_winner VARCHAR(50),
        win_margin VARCHAR(100)
    )
    """)

conn_pymysql.commit()

print("Table 'combined_matches' created successfully in MySQL!")

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
df_combined_matches.to_sql("combined_matches", con=engine, if_exists="append", index=False)

Table 'combined_matches' created successfully in MySQL!

31

In [43]:
# Extract batting stats
def extract_batting_data(match_ids):
    all_records = []

    for mid in match_ids:
        try:
            # --- API URL per match ---
            url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            data = fetch_matches_api(url)

            # Corrected key from 'scoreCard' to 'scorecard'
            for innings in data.get("scorecard", []):
                # The team and player data are not nested under 'batTeamDetails' or 'batsmenData'
                team_name = innings.get("batteamname")
                batsmen = innings.get("batsman", [])

                for bat in batsmen:
                    all_records.append({
                        "match_id": mid,
                        "innings_no": innings.get("inningsid"),
                        "team": team_name,
                        "player_id": bat.get("id"),
                        "player_name": bat.get("name"),
                        "runs": int(bat.get("runs", 0)),
                        "balls_faced": int(bat.get("balls", 0)),
                        "fours": int(bat.get("fours", 0)),
                        "sixes": int(bat.get("sixes", 0)),
                        "strike_rate": float(bat.get("strkrate", 0)),
                        "dismissal": bat.get("outdec")
                    })
        except Exception as e:
            print(f"Failed to fetch match {mid}: {e}")

    return pd.DataFrame(all_records)

api_key = "42ba173510msh8668786dd4440a9p1855c7jsnb61dc18d9c24"
# Call for multiple matches (all variables at bottom)
match_ids = [30554, 32047, 43061, 59979, 59981, 60035, 60042, 69862, 75476, 76465, 76535, 77894, 78558, 82462, 87626, 87878]
 # Using a single match ID for demonstration

df_batting = extract_batting_data(match_ids)
df_batting

,match_id,innings_no,team,player_id,player_name,runs,balls_faced,fours,sixes,strike_rate,dismissal
0,30554,1,India,12094,Prithvi Shaw,0,2,0,0,0.00,b Starc
1,30554,1,India,2195,Mayank Agarwal,17,40,2,0,42.50,b Cummins
2,30554,1,India,1448,Pujara,43,160,2,0,26.88,c Labuschagne b Lyon
3,30554,1,India,1413,Kohli,74,180,8,0,41.11,run out (Hazlewood/Lyon)
4,30554,1,India,1447,Rahane,42,92,3,1,45.65,lbw b Starc
5,30554,1,India,8424,Hanuma Vihari,16,25,2,0,64.00,lbw b Hazlewood
6,30554,1,India,1465,W Saha,9,26,1,0,34.62,c Paine b Starc
7,30554,1,India,1593,Ashwin,15,20,1,0,75.00,c Paine b Cummins
8,30554,1,India,1858,Umesh,6,13,1,0,46.15,c Wade b Starc
9,30554,1,India,9311,Bumrah,4,7,1,0,57.14,not out
10,30554,1,India,7909,Shami,0,1,0,0,0.00,c Head b Cummins
11,30554,2,Australia,1649,Wade,8,51,1,0,15.69,lbw b Bumrah
12,30554,2,Australia,8121,Burns,8,41,0,0,19.51,lbw b Bumrah
13,30554,2,Australia,10182,Labuschagne,47,119,7,0,39.50,lbw b Umesh
14,30554,2,Australia,2250,Steven Smith,1,29,0,0,3.45,c Rahane b Ashwin
15,30554,2,Australia,8497,Head,7,20,0,0,35.00,c and b Ashwin
16,30554,2,Australia,12225,Green,11,24,1,0,45.83,c Kohli b Ashwin
17,30554,2,Australia,1994,Paine,73,99,10,0,73.74,not out
18,30554,2,Australia,8095,Cummins,0,3,0,0,0.00,c Rahane b Umesh
19,30554,2,Australia,7710,Starc,15,16,1,0,93.75,run out (Prithvi Shaw/W Saha)
20,30554,2,Australia,7850,Lyon,10,21,1,0,47.62,c Kohli b Ashwin
21,30554,2,Australia,6258,Hazlewood,8,10,2,0,80.00,c Pujara b Umesh
22,30554,3,India,12094,Prithvi Shaw,4,4,0,0,100.00,b Cummins
23,30554,3,India,2195,Mayank Agarwal,9,40,1,0,22.50,c Paine b Hazlewood
24,30554,3,India,9311,Bumrah,2,17,0,0,11.76,c and b Cummins
25,30554,3,India,1448,Pujara,0,8,0,0,0.00,c Paine b Cummins
26,30554,3,India,1413,Kohli,4,8,1,0,50.00,c Green b Cummins
27,30554,3,India,1447,Rahane,0,4,0,0,0.00,c Paine b Hazlewood
28,30554,3,India,8424,Hanuma Vihari,8,22,1,0,36.36,c Paine b Hazlewood
29,30554,3,India,1465,W Saha,4,15,0,0,26.67,c Labuschagne b Hazlewood
30,30554,3,India,1593,Ashwin,0,1,0,0,0.00,c Paine b Hazlewood
31,30554,3,India,1858,Umesh,4,5,1,0,80.00,not out
32,30554,3,India,7909,Shami,1,4,0,0,25.00,retd hurt
33,30554,4,Australia,1649,Matthew Wade,33,53,5,0,62.26,run out (W Saha)
34,30554,4,Australia,8121,Joe Burns,51,63,7,1,80.95,not out
35,30554,4,Australia,10182,Marnus Labuschagne,6,10,0,0,60.00,c Mayank Agarwal b Ashwin
36,30554,4,Australia,2250,Steven Smith,1,1,0,0,100.00,not out
37,30554,4,Australia,8497,Travis Head,0,0,0,0,0.00,
38,30554,4,Australia,12225,Cameron Green,0,0,0,0,0.00,
39,30554,4,Australia,1994,Tim Paine,0,0,0,0,0.00,
40,30554,4,Australia,8095,Pat Cummins,0,0,0,0,0.00,
41,30554,4,Australia,7710,Mitchell Starc,0,0,0,0,0.00,
42,30554,4,Australia,7850,Nathan Lyon,0,0,0,0,0.00,
43,30554,4,Australia,6258,Josh Hazlewood,0,0,0,0,0.00,
44,32047,1,England,6536,Rory Burns,0,5,0,0,0.00,lbw b Bumrah
45,32047,1,England,9313,D Sibley,18,70,2,0,25.71,c Rahul b Shami
46,32047,1,England,12770,Zak Crawley,27,68,4,0,39.71,c Pant b Siraj
47,32047,1,England,8019,Root,64,108,11,0,59.26,lbw b Thakur
48,32047,1,England,6507,Bairstow,29,71,4,0,40.85,lbw b Shami
49,32047,1,England,10385,Lawrence,0,4,0,0,0.00,c Pant b Shami
50,32047,1,England,2258,Jos Buttler,0,18,0,0,0.00,c Pant b Bumrah
51,32047,1,England,10420,Sam Curran,27,37,4,1,72.97,not out
52,32047,1,England,9531,Robinson,0,3,0,0,0.00,c Shami b Thakur
53,32047,1,England,554,Broad,4,3,1,0,133.33,lbw b Bumrah
54,32047,1,England,65,James Anderson,1,11,0,0,9.09,b Bumrah
55,32047,2,India,576,Rohit,36,107,6,0,33.64,c Sam Curran b Robinson
56,32047,2,India,8733,Rahul,84,214,12,0,39.25,c Jos Buttler b James Anderson
57,32047,2,India,1448,Pujara,4,16,0,0,25.00,c Jos Buttler b James Anderson
58,32047,2,India,1413,Kohli,0,1,0,0,0.00,c Jos Buttler b James Anderson
59,32047,2,India,1447,Rahane,5,5,0,0,100.00,run out (Bairstow)
60,32047,2,India,10744,Pant,25,20,3,1,125.00,c Bairstow b Robinson
61,32047,2,India,587,Ravindra Jadeja,56,86,8,1,65.12,c Broad b Robinson
62,32047,2,India,8683,Thakur,0,6,0,0,0.00,c Root b James Anderson
63,32047,2,India,7909,Shami,13,20,0,0,65.00,b Robinson
64,32047,2,India,9311,Bumrah,28,34,3,1,82.35,c Broad b Robinson
65,32047,2,India,10808,Siraj,7,8,1,0,87.50,not out
66,32047,3,England,6536,Rory Burns,18,49,3,0,36.73,c Pant b Siraj
67,32047,3,England,9313,D Sibley,28,133,2,0,21.05,c Pant b Bumrah
68,32047,3,England,12770,Zak Crawley,6,7,1,0,85.71,c Pant b Bumrah
69,32047,3,England,8019,Root,109,172,14,0,63.37,c Pant b Bumrah
70,32047,3,England,6507,Bairstow,30,50,4,0,60.00,c Ravindra Jadeja b Siraj
71,32047,3,England,10385,Lawrence,25,32,4,0,78.12,lbw b Thakur
72,32047,3,England,2258,Jos Buttler,17,22,3,0,77.27,b Thakur
73,32047,3,England,10420,Sam Curran,32,45,4,0,71.11,c Siraj b Bumrah
74,32047,3,England,9531,Robinson,15,12,2,0,125.00,c Rahane b Shami
75,32047,3,England,554,Broad,0,1,0,0,0.00,b Bumrah
76,32047,3,England,65,James Anderson,0,2,0,0,0.00,not out
77,32047,4,India,8733,KL Rahul,26,38,6,0,68.42,c Jos Buttler b Broad
78,32047,4,India,576,Rohit Sharma,12,34,0,0,35.29,not out
79,32047,4,India,1448,Cheteshwar Pujara,12,13,3,0,92.31,not out
80,32047,4,India,1413,Virat Kohli,0,0,0,0,0.00,
81,32047,4,India,1447,Ajinkya Rahane,0,0,0,0,0.00,
82,32047,4,India,10744,Rishabh Pant,0,0,0,0,0.00,
83,32047,4,India,587,Ravindra Jadeja,0,0,0,0,0.00,
84,32047,4,India,8683,Shardul Thakur,0,0,0,0,0.00,
85,32047,4,India,7909,Mohammed Shami,0,0,0,0,0.00,
86,32047,4,India,10808,Mohammed Siraj,0,0,0,0,0.00,
87,32047,4,India,9311,Jasprit Bumrah,0,0,0,0,0.00,
88,43061,1,Pakistan,9468,Rizwan,4,12,1,0,33.33,c Bhuvneshwar b Arshdeep Singh
89,43061,1,Pakistan,8359,Babar Azam,0,1,0,0,0.00,lbw b Arshdeep Singh
90,43061,1,Pakistan,9545,Masood,52,42,5,0,123.81,not out
91,43061,1,Pakistan,10799,Iftikhar Ahmed,51,34,2,4,150.00,lbw b Shami
92,43061,1,Pakistan,11186,Shadab Khan,5,6,1,0,83.33,c Suryakumar Yadav b Hardik Pandya
93,43061,1,Pakistan,15037,Haider Ali,2,4,0,0,50.00,c Suryakumar Yadav b Hardik Pandya
94,43061,1,Pakistan,8367,Nawaz,9,6,2,0,150.00,c Karthik b Hardik Pandya
95,43061,1,Pakistan,9565,Asif Ali,2,3,0,0,66.67,c Karthik b Arshdeep Singh
96,43061,1,Pakistan,12160,Shaheen Afridi,16,8,1,1,200.00,c and b Bhuvneshwar
97,43061,1,Pakistan,14561,Haris Rauf,6,4,0,1,150.00,not out
98,43061,1,Pakistan,14247,Naseem Shah,0,0,0,0,0.00,
99,43061,2,India,8733,KL Rahul,4,8,0,0,50.00,b Naseem Shah
100,43061,2,India,576,Rohit Sharma,4,7,0,0,57.14,c Iftikhar Ahmed b Haris Rauf
101,43061,2,India,1413,Virat Kohli,82,53,6,4,154.72,not out
102,43061,2,India,7915,Suryakumar Yadav,15,10,2,0,150.00,c Rizwan b Haris Rauf
103,43061,2,India,8808,Axar Patel,2,3,0,0,66.67,run out (Babar Azam/Rizwan)
104,43061,2,India,9647,Hardik Pandya,40,37,1,2,108.11,c Babar Azam b Nawaz
105,43061,2,India,145,Dinesh Karthik,1,2,0,0,50.00,st Rizwan b Nawaz
106,43061,2,India,1593,Ravichandran Ashwin,1,1,0,0,100.00,not out
107,43061,2,India,1726,Bhuvneshwar Kumar,0,0,0,0,0.00,
108,43061,2,India,7909,Mohammed Shami,0,0,0,0,0.00,
109,43061,2,India,13217,Arshdeep Singh,0,0,0,0,0.00,
110,59979,1,India,576,Rohit,42,49,2,3,85.71,c Avishka Fernando b C Karunaratne
111,59979,1,India,11808,Shubman Gill,116,97,14,2,119.59,b Rajitha
112,59979,1,India,1413,Kohli,166,110,13,8,150.91,not out
113,59979,1,India,9428,Shreyas Iyer,38,32,2,1,118.75,c (sub)Dhananjaya de Silva b Lahiru Kumara
114,59979,1,India,8733,Rahul,7,6,1,0,116.67,c D Wellalage b Lahiru Kumara
115,59979,1,India,7915,Suryakumar Yadav,4,4,0,0,100.00,c Avishka Fernando b Rajitha
116,59979,1,India,8808,Axar,2,2,0,0,100.00,not out
117,59979,1,India,10945,Washington Sundar,0,0,0,0,0.00,
118,59979,1,India,8292,Kuldeep Yadav,0,0,0,0,0.00,
119,59979,1,India,7909,Shami,0,0,0,0,0.00,
120,59979,1,India,10808,Siraj,0,0,0,0,0.00,
121,59979,2,Sri Lanka,10939,Avishka Fernando,1,4,0,0,25.00,c Shubman Gill b Siraj
122,59979,2,Sri Lanka,13187,Nuwanidu Fernando,19,27,4,0,70.37,b Siraj
123,59979,2,Sri Lanka,9494,Kusal Mendis,4,7,1,0,57.14,c Rahul b Siraj
124,59979,2,Sri Lanka,10934,Charith Asalanka,1,4,0,0,25.00,c Axar b Shami
125,59979,2,Sri Lanka,8422,Dasun Shanaka,11,26,2,0,42.31,b Kuldeep Yadav
126,59979,2,Sri Lanka,10926,Wanindu Hasaranga,1,7,0,0,14.29,b Siraj
127,59979,2,Sri Lanka,9500,Chamika Karunaratne,1,6,0,0,16.67,run out (Siraj)
128,59979,2,Sri Lanka,14251,Dunith Wellalage,3,13,0,0,23.08,c Suryakumar Yadav b Shami
129,59979,2,Sri Lanka,10472,Kasun Rajitha,13,19,2,0,68.42,not out
130,59979,2,Sri Lanka,10928,Lahiru Kumara,9,19,2,0,47.37,b Kuldeep Yadav
131,59979,2,Sri Lanka,12127,Ashen Bandara,0,0,0,0,0.00,abs hurt
132,59981,1,India,576,Rohit,34,38,4,2,89.47,c Daryl Mitchell b Tickner
133,59981,1,India,11808,Shubman Gill,208,149,19,9,139.60,c Glenn Phillips b Shipley
134,59981,1,India,1413,Kohli,8,10,1,0,80.00,b Santner
135,59981,1,India,10276,Ishan Kishan,5,14,0,0,35.71,c Latham b Lockie Ferguson
136,59981,1,India,7915,Suryakumar Yadav,31,26,4,0,119.23,c Santner b Daryl Mitchell
137,59981,1,India,9647,Hardik Pandya,28,38,3,0,73.68,b Daryl Mitchell
138,59981,1,India,10945,Washington Sundar,12,14,0,0,85.71,lbw b Shipley
139,59981,1,India,8683,Thakur,3,3,0,0,100.00,run out (Santner/Latham)
140,59981,1,India,8292,Kuldeep Yadav,5,6,0,0,83.33,not out
141,59981,1,India,7909,Shami,2,2,0,0,100.00,not out
142,59981,1,India,10808,Siraj,0,0,0,0,0.00,
143,59981,2,New Zealand,11172,Finn Allen,40,39,7,1,102.56,c (sub)Shahbaz Ahmed b Thakur
144,59981,2,New Zealand,9838,Devon Conway,10,16,2,0,62.50,c Kuldeep Yadav b Siraj
145,59981,2,New Zealand,10694,Henry Nicholls,18,31,3,0,58.06,b Kuldeep Yadav
146,59981,2,New Zealand,10713,Daryl Mitchell,9,12,0,0,75.00,lbw b Kuldeep Yadav
147,59981,2,New Zealand,8216,Tom Latham,24,46,3,0,52.17,c Washington Sundar b Siraj
148,59981,2,New Zealand,10693,Glenn Phillips,11,20,0,1,55.00,b Shami
149,59981,2,New Zealand,9551,Michael Bracewell,140,78,12,10,179.49,lbw b Thakur
150,59981,2,New Zealand,10100,Mitchell Santner,57,45,7,1,126.67,c Suryakumar Yadav b Siraj
151,59981,2,New Zealand,11145,Henry Shipley,0,1,0,0,0.00,b Siraj
152,59981,2,New Zealand,10692,Lockie Ferguson,8,7,1,0,114.29,c Shubman Gill b Hardik Pandya
153,59981,2,New Zealand,10730,Blair Tickner,1,1,0,0,100.00,not out
154,60035,1,Australia,8497,Head,5,10,1,0,50.00,b Siraj
155,60035,1,Australia,6250,Mitchell Marsh,81,65,10,5,124.62,c Siraj b Ravindra Jadeja
156,60035,1,Australia,2250,Steven Smith,22,30,4,0,73.33,c Rahul b Hardik Pandya
157,60035,1,Australia,10182,Labuschagne,15,22,1,0,68.18,c Ravindra Jadeja b Kuldeep Yadav
158,60035,1,Australia,10637,Josh Inglis,26,27,1,1,96.30,b Shami
159,60035,1,Australia,12225,Green,12,19,0,0,63.16,b Shami
160,60035,1,Australia,7662,Maxwell,8,10,1,0,80.00,c Hardik Pandya b Ravindra Jadeja
161,60035,1,Australia,8989,Stoinis,5,8,1,0,62.50,c Shubman Gill b Shami
162,60035,1,Australia,8136,Abbott,0,7,0,0,0.00,c Shubman Gill b Siraj
163,60035,1,Australia,7710,Starc,4,10,1,0,40.00,not out
164,60035,1,Australia,8642,Zampa,0,6,0,0,0.00,c Rahul b Siraj
165,60035,2,India,10276,Ishan Kishan,3,8,0,0,37.50,lbw b Stoinis
166,60035,2,India,11808,Shubman Gill,20,31,3,0,64.52,c Labuschagne b Starc
167,60035,2,India,1413,Virat Kohli,4,9,1,0,44.44,lbw b Starc
168,60035,2,India,7915,Suryakumar Yadav,0,1,0,0,0.00,lbw b Starc
169,60035,2,India,8733,KL Rahul,75,91,7,1,82.42,not out
170,60035,2,India,9647,Hardik Pandya,25,31,3,1,80.65,c Green b Stoinis
171,60035,2,India,587,Ravindra Jadeja,45,69,5,0,65.22,not out
172,60035,2,India,8683,Shardul Thakur,0,0,0,0,0.00,
173,60035,2,India,8292,Kuldeep Yadav,0,0,0,0,0.00,
174,60035,2,India,10808,Mohammed Siraj,0,0,0,0,0.00,
175,60035,2,India,7909,Mohammed Shami,0,0,0,0,0.00,
176,60042,1,Australia,8497,Head,33,31,4,2,106.45,c Kuldeep Yadav b Hardik Pandya
177,60042,1,Australia,6250,Mitchell Marsh,47,47,8,1,100.00,b Hardik Pandya
178,60042,1,Australia,2250,Steven Smith,0,3,0,0,0.00,c Rahul b Hardik Pandya
179,60042,1,Australia,1739,Warner,23,31,1,0,74.19,c Hardik Pandya b Kuldeep Yadav
180,60042,1,Australia,10182,Labuschagne,28,45,1,1,62.22,c Shubman Gill b Kuldeep Yadav
181,60042,1,Australia,9200,Alex Carey,38,46,2,1,82.61,b Kuldeep Yadav
182,60042,1,Australia,8989,Stoinis,25,26,3,0,96.15,c Shubman Gill b Axar
183,60042,1,Australia,8136,Abbott,26,23,2,1,113.04,b Axar
184,60042,1,Australia,8508,Agar,17,21,0,1,80.95,c Axar b Siraj
185,60042,1,Australia,7710,Starc,10,11,0,1,90.91,c Ravindra Jadeja b Siraj
186,60042,1,Australia,8642,Zampa,10,11,1,0,90.91,not out
187,60042,2,India,576,Rohit Sharma,30,17,2,2,176.47,c Starc b Abbott
188,60042,2,India,11808,Shubman Gill,37,49,4,1,75.51,lbw b Zampa
189,60042,2,India,1413,Virat Kohli,54,72,2,1,75.00,c Warner b Agar
190,60042,2,India,8733,KL Rahul,32,50,2,1,64.00,c Abbott b Zampa
191,60042,2,India,8808,Axar Patel,2,4,0,0,50.00,run out (Steven Smith/Alex Carey)
192,60042,2,India,9647,Hardik Pandya,40,40,3,1,100.00,c Steven Smith b Zampa
193,60042,2,India,7915,Suryakumar Yadav,0,1,0,0,0.00,b Agar
194,60042,2,India,587,Ravindra Jadeja,18,33,1,0,54.55,c Stoinis b Zampa
195,60042,2,India,8292,Kuldeep Yadav,6,15,0,0,40.00,run out (Stoinis/Alex Carey)
196,60042,2,India,7909,Mohammed Shami,14,10,1,1,140.00,b Stoinis
197,60042,2,India,10808,Mohammed Siraj,3,5,0,0,60.00,not out
198,69862,1,South Africa,9491,R Hendricks,42,30,2,2,140.00,c Josh Inglis b T Sangha
199,69862,1,South Africa,8583,Bavuma,0,1,0,0,0.00,c Head b Stoinis
200,69862,1,South Africa,13089,Breetzke,5,7,1,0,71.43,c Tim David b Stoinis
201,69862,1,South Africa,9582,Markram,41,23,4,2,178.26,c Turner b Abbott
202,69862,1,South Africa,19243,Tristan Stubbs,25,16,1,2,156.25,c Matthew Short b Abbott
203,69862,1,South Africa,14798,Donovan Ferreira,48,21,1,5,228.57,run out (Josh Inglis)
204,69862,1,South Africa,10676,Fortuin,0,3,0,0,0.00,c Mitchell Marsh b Abbott
205,69862,1,South Africa,13320,Gerald Coetzee,13,11,0,1,118.18,c (sub)Aaron Hardie b Abbott
206,69862,1,South Africa,9720,Maharaj,9,7,0,1,128.57,not out
207,69862,1,South Africa,9603,Lungi Ngidi,2,2,0,0,100.00,not out
208,69862,1,South Africa,8531,Williams,0,0,0,0,0.00,
209,69862,2,Australia,9456,Matthew Short,0,1,0,0,0.00,lbw b Markram
210,69862,2,Australia,8497,Travis Head,91,48,8,6,189.58,c Bavuma b Fortuin
211,69862,2,Australia,6250,Mitchell Marsh,15,12,3,0,125.00,c Fortuin b Gerald Coetzee
212,69862,2,Australia,10637,Josh Inglis,42,22,1,4,190.91,c Gerald Coetzee b Fortuin
213,69862,2,Australia,8989,Marcus Stoinis,37,21,2,3,176.19,not out
214,69862,2,Australia,13169,Tim David,1,2,0,0,50.00,c Donovan Ferreira b Gerald Coetzee
215,69862,2,Australia,8506,Ashton Turner,2,2,0,0,100.00,not out
216,69862,2,Australia,8136,Sean Abbott,0,0,0,0,0.00,
217,69862,2,Australia,15480,Nathan Ellis,0,0,0,0,0.00,
218,69862,2,Australia,13143,Spencer Johnson,0,0,0,0,0.00,
219,69862,2,Australia,15137,Tanveer Sangha,0,0,0,0,0.00,
220,75476,1,Pakistan,12139,Shafique,20,24,3,0,83.33,lbw b Siraj
221,75476,1,Pakistan,8364,Imam-ul-Haq,36,38,6,0,94.74,c Rahul b Hardik Pandya
222,75476,1,Pakistan,8359,Babar Azam,50,58,7,0,86.21,b Siraj
223,75476,1,Pakistan,9468,Rizwan,49,69,7,0,71.01,b Bumrah
224,75476,1,Pakistan,9812,Saud Shakeel,6,10,0,0,60.00,lbw b Kuldeep Yadav
225,75476,1,Pakistan,10799,Iftikhar Ahmed,4,4,1,0,100.00,b Kuldeep Yadav
226,75476,1,Pakistan,11186,Shadab Khan,2,5,0,0,40.00,b Bumrah
227,75476,1,Pakistan,8367,Mohammad Nawaz,4,14,0,0,28.57,c Bumrah b Hardik Pandya
228,75476,1,Pakistan,11320,Hasan Ali,12,19,2,0,63.16,c Shubman Gill b Ravindra Jadeja
229,75476,1,Pakistan,12160,Shaheen Afridi,2,10,0,0,20.00,not out
230,75476,1,Pakistan,14561,Haris Rauf,2,6,0,0,33.33,lbw b Ravindra Jadeja
231,75476,2,India,576,Rohit Sharma,86,63,6,6,136.51,c Iftikhar Ahmed b Shaheen Afridi
232,75476,2,India,11808,Shubman Gill,16,11,4,0,145.45,c Shadab Khan b Shaheen Afridi
233,75476,2,India,1413,Virat Kohli,16,18,3,0,88.89,c Mohammad Nawaz b Hasan Ali
234,75476,2,India,9428,Shreyas Iyer,53,62,3,2,85.48,not out
235,75476,2,India,8733,KL Rahul,19,29,2,0,65.52,not out
236,75476,2,India,9647,Hardik Pandya,0,0,0,0,0.00,
237,75476,2,India,587,Ravindra Jadeja,0,0,0,0,0.00,
238,75476,2,India,8683,Shardul Thakur,0,0,0,0,0.00,
239,75476,2,India,8292,Kuldeep Yadav,0,0,0,0,0.00,
240,75476,2,India,9311,Jasprit Bumrah,0,0,0,0,0.00,
241,75476,2,India,10808,Mohammed Siraj,0,0,0,0,0.00,
242,76465,1,England,10479,Salt,13,9,2,0,144.44,c Shaheen Afridi b Imad Wasim
243,76465,1,England,2258,Jos Buttler,84,51,8,3,164.71,c Shadab Khan b Haris Rauf
244,76465,1,England,12258,Will Jacks,37,23,4,2,160.87,c Shadab Khan b Haris Rauf
245,76465,1,England,6507,Bairstow,21,18,1,2,116.67,c Iftikhar Ahmed b Shaheen Afridi
246,76465,1,England,12201,Harry Brook,1,2,0,0,50.00,b Imad Wasim
247,76465,1,England,6692,Moeen,4,7,0,0,57.14,c Rizwan b Shaheen Afridi
248,76465,1,England,10045,Livingstone,2,3,0,0,66.67,not out
249,76465,1,England,6532,Chris Jordan,3,3,0,0,100.00,c Haris Rauf b Shaheen Afridi
250,76465,1,England,11540,Jofra Archer,12,4,1,1,300.00,not out
251,76465,1,England,1742,Adil Rashid,0,0,0,0,0.00,
252,76465,1,England,8349,R Topley,0,0,0,0,0.00,
253,76465,2,Pakistan,9468,Mohammad Rizwan,0,3,0,0,0.00,c Livingstone b Moeen
254,76465,2,Pakistan,14241,Saim Ayub,2,7,0,0,28.57,c Salt b R Topley
255,76465,2,Pakistan,8359,Babar Azam,32,26,4,0,123.08,lbw b Moeen
256,76465,2,Pakistan,10863,Fakhar Zaman,45,21,5,3,214.29,c Harry Brook b Livingstone
257,76465,2,Pakistan,11186,Shadab Khan,3,4,0,0,75.00,c Chris Jordan b Adil Rashid
258,76465,2,Pakistan,14558,Azam Khan,11,10,2,0,110.00,c Moeen b Jofra Archer
259,76465,2,Pakistan,10799,Iftikhar Ahmed,23,17,1,2,135.29,c Chris Jordan b R Topley
260,76465,2,Pakistan,10408,Imad Wasim,22,13,2,1,169.23,c Livingstone b Jofra Archer
261,76465,2,Pakistan,12160,Shaheen Afridi,9,11,0,0,81.82,c Salt b R Topley
262,76465,2,Pakistan,1917,Mohammad Amir,5,3,1,0,166.67,b Chris Jordan
263,76465,2,Pakistan,14561,Haris Rauf,3,2,0,0,150.00,not out
264,76535,1,Australia,9456,Matthew Short,28,24,3,1,116.67,b Adil Rashid
265,76535,1,Australia,8497,Head,31,14,4,2,221.43,c Adil Rashid b Brydon Carse
266,76535,1,Australia,14501,Jake Fraser-McGurk,50,31,4,2,161.29,c Jamie Overton b Livingstone
267,76535,1,Australia,10637,Josh Inglis,42,26,5,1,161.54,c Brydon Carse b Sam Curran
268,76535,1,Australia,8989,Stoinis,2,5,0,0,40.00,c Jamie Overton b Livingstone
269,76535,1,Australia,13169,Tim David,1,3,0,0,33.33,c Salt b Brydon Carse
270,76535,1,Australia,12225,Green,13,8,0,1,162.50,not out
271,76535,1,Australia,13170,Aaron Hardie,20,9,2,1,222.22,not out
272,76535,1,Australia,15927,Cooper Connolly,0,0,0,0,0.00,
273,76535,1,Australia,8136,Abbott,0,0,0,0,0.00,
274,76535,1,Australia,8642,Zampa,0,0,0,0,0.00,
275,76535,2,England,10479,Philip Salt,39,23,2,3,169.57,c Abbott b Matthew Short
276,76535,2,England,12258,Will Jacks,12,10,1,0,120.00,c Jake Fraser-McGurk b Abbott
277,76535,2,England,14813,Jordan Cox,0,2,0,0,0.00,b Abbott
278,76535,2,England,10045,Liam Livingstone,87,47,6,5,185.11,b Matthew Short
279,76535,2,England,19636,Jacob Bethell,44,24,4,3,183.33,b Matthew Short
280,76535,2,England,10420,Sam Curran,1,2,0,0,50.00,c Cooper Connolly b Matthew Short
281,76535,2,England,8512,Jamie Overton,4,4,0,0,100.00,not out
282,76535,2,England,11436,Brydon Carse,0,1,0,0,0.00,c Tim David b Matthew Short
283,76535,2,England,1742,Adil Rashid,1,1,0,0,100.00,not out
284,76535,2,England,10394,Saqib Mahmood,0,0,0,0,0.00,
285,76535,2,England,8349,Reece Topley,0,0,0,0,0.00,
286,77894,1,India,13940,Yashasvi Jaiswal,17,37,4,0,45.95,c Verreynne b Nandre Burger
287,77894,1,India,576,Rohit,5,14,1,0,35.71,c Nandre Burger b Rabada
288,77894,1,India,11808,Shubman Gill,2,12,0,0,16.67,c Verreynne b Nandre Burger
289,77894,1,India,1413,Kohli,38,64,5,0,59.38,c Verreynne b Rabada
290,77894,1,India,9428,Shreyas Iyer,31,50,3,1,62.00,b Rabada
291,77894,1,India,8733,Rahul,101,137,14,4,73.72,b Nandre Burger
292,77894,1,India,1593,Ashwin,8,11,2,0,72.73,c (sub)Wiaan Mulder b Rabada
293,77894,1,India,8683,Thakur,24,33,3,0,72.73,c Elgar b Rabada
294,77894,1,India,9311,Bumrah,1,19,0,0,5.26,b Marco Jansen
295,77894,1,India,10808,Siraj,5,22,0,0,22.73,c Verreynne b Gerald Coetzee

In [44]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS batting_data (
        match_id BIGINT,
        innings_no INT,
        team VARCHAR(100),
        player_id BIGINT,
        player_name VARCHAR(100),
        runs INT,
        balls_faced INT,
        fours INT,
        sixes INT,
        strike_rate FLOAT,
        dismissal VARCHAR(200)
    )
    """)

conn_pymysql.commit()

print("Table 'batting_data' created successfully in MySQL!")

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
df_batting.to_sql("batting_data", con=engine, if_exists="append", index=False)

Table 'batting_data' created successfully in MySQL!

407

In [54]:
import requests
import pandas as pd
from typing import List, Optional

# -------------------------
# Put your RapidAPI key here (or keep api_key = key if you already have it)
api_key = "7040cfdf83msh661b6967053c801p1acd55jsn586cbc4051d9"  # <- make sure `key` is defined or replace with "YOUR_KEY_STRING"
HEADERS = {
    "x-rapidapi-key": api_key,
    "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}
# -------------------------

def fetch_players_api(url: str, timeout: int = 12) -> Optional[dict]:
    """Fetch JSON from RapidAPI endpoint, return dict or None."""
    try:
        r = requests.get(url, headers=HEADERS, timeout=timeout)
        r.raise_for_status()
        return r.json()
    except requests.RequestException as e:
        print(f"Error fetching {url}: {e}")
        return None

def safe_int(v, default=0):
    try:
        if v is None:
            return default
        return int(v)
    except Exception:
        try:
            return int(float(v))
        except Exception:
            return default

def safe_float(v, default=0.0):
    try:
        if v is None:
            return default
        return float(v)
    except Exception:
        return default

def extract_bowling_data(match_ids: List[int]) -> pd.DataFrame:
    """
    Fetch bowling data for given match IDs and return a DataFrame.
    Replaces undefined fetch_matches_api with fetch_players_api.
    """
    all_records = []

    for mid in match_ids:
        try:
            url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            data = fetch_players_api(url)
            if not data:
                print(f"No data for match {mid}")
                continue

            # Some records use 'scorecard' (older) — be defensive
            for innings in data.get("scorecard", []) or []:
                team_name = innings.get("batteamname") or innings.get("team") or None
                bowlers = innings.get("bowler", []) or innings.get("bowlers", []) or []

                for bowler in bowlers:
                    all_records.append({
                        "match_id": mid,
                        "player_id": safe_int(bowler.get("id"), None),
                        "player_name": bowler.get("name"),
                        "team": team_name,
                        "overs": safe_float(bowler.get("overs") or bowler.get("o") or 0),
                        "maidens": safe_int(bowler.get("maidens") or bowler.get("m") or 0),
                        "runs_conceded": safe_int(bowler.get("runs") or bowler.get("r") or 0),
                        "wickets": safe_int(bowler.get("wickets") or bowler.get("wkts") or 0),
                        "economy_rate": safe_float(bowler.get("economy") or bowler.get("eco") or 0.0)
                    })

            # Some responses use top-level 'innings' structure — try that too
            for inn in data.get("innings", []) or []:
                team_name = inn.get("team") or inn.get("teamName") or None
                # bowler list might be at inn['bowling'] or inn['bowling']['bowlers'] etc.
                bowlers = []
                if isinstance(inn, dict):
                    bb = inn.get("bowling") or {}
                    if isinstance(bb, dict):
                        bowlers = bb.get("bowlers") or bb.get("bowler") or []
                    if not bowlers:
                        bowlers = inn.get("bowler") or inn.get("bowlers") or []

                for bowler in bowlers:
                    all_records.append({
                        "match_id": mid,
                        "player_id": safe_int(bowler.get("id"), None),
                        "player_name": bowler.get("name"),
                        "team": team_name,
                        "overs": safe_float(bowler.get("overs") or bowler.get("o") or 0),
                        "maidens": safe_int(bowler.get("maidens") or bowler.get("m") or 0),
                        "runs_conceded": safe_int(bowler.get("runs") or bowler.get("r") or 0),
                        "wickets": safe_int(bowler.get("wickets") or bowler.get("wkts") or 0),
                        "economy_rate": safe_float(bowler.get("economy") or bowler.get("eco") or 0.0)
                    })

        except Exception as e:
            print(f"Failed to fetch match {mid}: {e}")

    df = pd.DataFrame(all_records)

    # tidy dtypes
    if not df.empty:
        df = df.astype({
            "match_id": "Int64",
            "player_id": "Int64",
            "maidens": "Int64",
            "runs_conceded": "Int64",
            "wickets": "Int64"
        }, errors="ignore")
    return df

# -------------------------
# Example usage (replace API key above or ensure api_key variable is set)
match_ids = [
    75476, 100283, 100290, 130019, 82462, 116981, 116990, 76465, 105804, 87626,
    87878, 116972, 69862, 43061, 76535, 100312, 100321, 112462, 60035, 78558,
    60042, 100328, 59979, 59981, 30554, 32047, 77894, 91778, 91787, 105780,
    105770, 105762
]

df_bowling = extract_bowling_data(match_ids)
print(df_bowling.head(20))

    match_id  player_id         player_name      team  overs  maidens  \
0      75476       9311              Bumrah  Pakistan    7.0        1
1      75476      10808               Siraj  Pakistan    8.0        0
2      75476       9647       Hardik Pandya  Pakistan    6.0        0
3      75476       8292       Kuldeep Yadav  Pakistan   10.0        0
4      75476        587     Ravindra Jadeja  Pakistan    9.5        0
5      75476       8683              Thakur  Pakistan    2.0        0
6      75476      12160      Shaheen Afridi     India    6.0        0
7      75476      11320           Hasan Ali     India    6.0        0
8      75476       8367      Mohammad Nawaz     India    8.3        0
9      75476      14561          Haris Rauf     India    6.0        0
10     75476      11186         Shadab Khan     India    4.0        0
11    100283      13217      Arshdeep Singh   England    4.0        0
12    100283       9647       Hardik Pandya   England    4.0        0
13    100283      12926  Varun Chakravarthy   England    4.0        0
14    100283       8808                Axar   England    4.0        1
15    100283      14659        Ravi Bishnoi   England    4.0        0
16    100283      11540        Jofra Archer     India    4.0        0
17    100283      13681        Gus Atkinson     India    2.0        0
18    100283       8383           Mark Wood     India    2.5        0
19    100283       1742         Adil Rashid     India    2.0        0

    runs_conceded  wickets  economy_rate
0              19        2           2.7
1              50        2           6.2
2              34        2           5.7
3              35        2           3.5
4              38        2           3.9
5              12        0           6.0
6              36        2           6.0
7              34        1           5.7
8              47        0           5.5
9              43        0           7.2
10             31        0           7.8
11             17        2           4.2
12             42        2          10.5
13             23        3           5.8
14             22        2           5.5
15             22        0           5.5
16             21        2           5.2
17             38        0          19.0
18             25        0           8.8
19             27        1          13.5

In [55]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="admin",
    database="cricbuzz_data"
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

In [56]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS bowling_data (
        match_id BIGINT,
        player_id BIGINT,
        player_name VARCHAR(100),
        team VARCHAR(100),
        overs FLOAT,
        maidens INT,
        runs_conceded INT,
        wickets INT,
        economy_rate FLOAT
    )
    """)

conn_pymysql.commit()

print("Table 'bowling_data' created successfully in MySQL!")

Table 'bowling_data' created successfully in MySQL!

In [57]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
df_bowling.to_sql("bowling_data", con=engine, if_exists="append", index=False)# Import SQLAlchemy

429

In [44]:
import requests
import pandas as pd
import re

# Provided API key
api_key = "7040cfdf83msh661b6967053c801p1acd55jsn586cbc4051d9"

def fetch_players_api(url, headers=None):
    """Fetches JSON data from the specified URL using a RapidAPI key."""
    if headers is None:
        headers = {
            "x-rapidapi-key": api_key,
            "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
        }
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data from {url}: {e}")
        return None

def extract_fielding_data(match_ids):
    """Extracts fielding data (catches and stumpings) for multiple matches."""
    all_fielding = []
    
    for mid in match_ids:
        try:
            url_scorecard = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            scorecard_data = fetch_players_api(url_scorecard)

            if not scorecard_data:
                continue

            # Dictionary to map player names to their IDs
            player_name_to_id = {}
            score_cards = scorecard_data.get("scorecard", [])

            # First, build a name-to-ID mapping from all players in the scorecard
            for innings in score_cards:
                batsmen_list = innings.get("batsman", [])
                bowlers_list = innings.get("bowler", [])
                
                for player_info in batsmen_list + bowlers_list:
                    name = player_info.get("name")
                    if name:
                        player_name_to_id[name] = player_info.get("id")

            # Now, track fielding stats using player names
            fielding_stats = {}
            for innings in score_cards:
                batsmen_list = innings.get("batsman", [])
                
                for bat_info in batsmen_list:
                    out_desc = bat_info.get("outdec", "")
                    
                    # Regex to find catches (e.g., 'c Fielder Name')
                    catch_match = re.search(r"c\s+([a-zA-Z\s]+)\s+b\s+", out_desc)
                    if not catch_match:
                        catch_match = re.search(r"c\s+([a-zA-Z\s]+)\)$", out_desc)
                    
                    if catch_match:
                        fielder_name = catch_match.group(1).strip()
                        if fielder_name not in fielding_stats:
                            fielding_stats[fielder_name] = {"catches": 0, "stumpings": 0}
                        fielding_stats[fielder_name]["catches"] += 1
                    
                    # Regex to find stumpings (e.g., 'st Wicketkeeper Name')
                    stump_match = re.search(r"st\s+([a-zA-Z\s]+)\s+b\s+", out_desc)
                    if stump_match:
                        keeper_name = stump_match.group(1).strip()
                        if keeper_name not in fielding_stats:
                            fielding_stats[keeper_name] = {"catches": 0, "stumpings": 0}
                        fielding_stats[keeper_name]["stumpings"] += 1
            
            # Create final records using the name-to-ID mapping
            performance_id = 101
            for player_name, stats in fielding_stats.items():
                player_id = player_name_to_id.get(player_name, None)
                if player_id is not None and (stats["catches"] > 0 or stats["stumpings"] > 0):
                    fielding_record = {
                        "performance_id": performance_id,
                        "match_id": mid,
                        "player_id": player_id,
                        "catches": stats["catches"],
                        "stumpings": stats["stumpings"]
                    }
                    all_fielding.append(fielding_record)
                    performance_id += 1

        except Exception as e:
            print(f"Failed to fetch fielding data for match {mid}: {e}")

    return pd.DataFrame(all_fielding)

# Example usage
match_ids = [75476, 100283, 100290, 130019, 82462, 116981, 116990, 76465, 105804, 87626, 87878, 116972,
              69862, 43061, 76535, 100312, 100321, 112462, 60035, 78558, 60042, 100328, 75476, 59979, 
                  59981, 30554, 32047, 77894, 91778, 91787, 105780, 105770, 105762]
df_fielding = extract_fielding_data(match_ids)
df_fielding

     performance_id  match_id  player_id  catches  stumpings
0               101     75476       9311        1          0
1               102     75476      11808        1          0
2               103     75476      10799        1          0
3               104     75476      11186        1          0
4               105     75476       8367        1          0
..              ...       ...        ...      ...        ...
240             108    105762       8683        1          0
241             109    105762      13866        1          0
242             110    105762      12770        2          0
243             111    105762       8733        1          0
244             112    105762      11808        1          0

[245 rows x 5 columns]

In [24]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS fielding_data (
        performance_id BIGINT,
        match_id BIGINT,
        player_id BIGINT,
        catches INT,
        stumpings INT
    )
    """)

conn_pymysql.commit()

print("Table 'fielding_data' created successfully in MySQL!")

Table 'fielding_data' created successfully in MySQL!

In [45]:
# Safe insert to MySQL for fielding data (avoids duplicate primary-key errors)
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

# --- configure ---
MYSQL_URI = "mysql+pymysql://root:admin@localhost:3306/cricbuzz_data"
TABLE_NAME = "fielding_data"
# ------------------

engine = create_engine(MYSQL_URI)

# 1) Create table if not exists with AUTO_INCREMENT primary key
create_table_sql = f"""
CREATE TABLE IF NOT EXISTS `{TABLE_NAME}` (
  `performance_id` INT NOT NULL AUTO_INCREMENT,
  `match_id` INT,
  `player_id` INT,
  `catches` INT DEFAULT 0,
  `stumpings` INT DEFAULT 0,
  PRIMARY KEY (`performance_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""

with engine.begin() as conn:
    conn.execute(text(create_table_sql))

# 2) Prepare df_fielding (assumes df_fielding variable exists)
df = df_fielding.copy()  # rename for brevity

# If user accidentally passed a dict variable (fielding_stats) earlier, guard:
if not isinstance(df, pd.DataFrame):
    raise TypeError("df_fielding must be a pandas DataFrame. Found: %s" % type(df))

# Drop performance_id so DB will auto-assign unique IDs
if "performance_id" in df.columns:
    df = df.drop(columns=["performance_id"])

# Normalize/ensure expected columns exist
expected_cols = ["match_id", "player_id", "catches", "stumpings"]
for c in expected_cols:
    if c not in df.columns:
        df[c] = 0

# Keep only expected columns in correct order
df = df[expected_cols]

# Convert and clean datatypes
df["match_id"] = pd.to_numeric(df["match_id"], errors="coerce").astype("Int64")
df["player_id"] = pd.to_numeric(df["player_id"], errors="coerce").astype("Int64")
df["catches"] = pd.to_numeric(df["catches"], errors="coerce").fillna(0).astype(int)
df["stumpings"] = pd.to_numeric(df["stumpings"], errors="coerce").fillna(0).astype(int)

# 3) Remove obvious duplicates in the DataFrame (same match_id & player_id & same stats)
#    This avoids inserting duplicate rows coming from your extraction logic.
before = len(df)
df = df.drop_duplicates(subset=["match_id", "player_id", "catches", "stumpings"])
after = len(df)
print(f"Removed {before-after} exact duplicate rows from df before inserting. Rows to insert: {after}")

# 4) Insert into MySQL in chunks. Use method='multi' for multi-row insert where supported.
try:
    df.to_sql(
        name=TABLE_NAME,
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
        chunksize=200
    )
    print(f"Inserted {len(df)} rows into `{TABLE_NAME}` successfully.")
except SQLAlchemyError as e:
    print("Error inserting into MySQL:", e)
    # helpful debug output
    print(df.head(20))

Removed 5 exact duplicate rows from df before inserting. Rows to insert: 240
Inserted 240 rows into `fielding_data` successfully.

In [6]:
import requests
import pandas as pd
from datetime import datetime

# RapidAPI key
api_key = "5525478aebmsh28bd9ab00634710p1b585fjsn2b0834636487"

HEADERS = {
    "x-rapidapi-key": api_key,
    "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

def fetch_players_api(url):
    """Fetch JSON using RapidAPI key."""
    try:
        r = requests.get(url, headers=HEADERS, timeout=12)
        r.raise_for_status()
        return r.json()
    except Exception as e:
        print(f"Error fetching {url}: {e}")
        return None


def fetch_batting_multiple_matches(match_ids):
    """Fetches batting statistics and returns a DataFrame."""
    records = []

    for match_id in match_ids:
        url = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{match_id}/hscard"

        # FIXED: use existing fetch function
        data = fetch_players_api(url)

        if not data:
            print(f"No data for match {match_id}")
            continue

        # Extract match date (milliseconds)
        match_date = None
        match_date_ms = data.get("responselastupdated")
        if match_date_ms:
            try:
                match_date = datetime.fromtimestamp(match_date_ms / 1000).date()
            except:
                match_date = None

        # Extract scorecard batting information
        for innings in data.get("scorecard", []):
            innings_no = innings.get("inningsid")
            team_name = innings.get("batteamname")

            batsmen_list = innings.get("batsman", [])

            for batsman in batsmen_list:
                record = {
                    "match_id": match_id,
                    "innings_no": innings_no,
                    "team_name": team_name,
                    "player_id": batsman.get("id"),
                    "player_name": batsman.get("name"),
                    "runs": int(batsman.get("runs") or 0),
                    "balls_faced": int(batsman.get("balls") or 0),
                    "strike_rate": float(batsman.get("strkrate") or 0),
                    "date": match_date
                }
                records.append(record)

    return pd.DataFrame(records)


# --------------------------
# Run extraction
match_ids = [
    75476, 100283, 100290, 130019, 82462, 116981, 116990, 76465, 105804,
    87626, 87878, 116972, 69862, 43061, 76535, 100312, 100321, 112462,
    60035, 78558, 60042, 100328, 59979, 59981, 30554, 32047, 77894,
    91778, 91787, 105780, 105770, 105762
]

all_batting = fetch_batting_multiple_matches(match_ids)
print(all_batting.head())

   match_id  innings_no team_name  player_id   player_name  runs  balls_faced  \
0     75476           1  Pakistan      12139      Shafique    20           24
1     75476           1  Pakistan       8364   Imam-ul-Haq    36           38
2     75476           1  Pakistan       8359    Babar Azam    50           58
3     75476           1  Pakistan       9468        Rizwan    49           69
4     75476           1  Pakistan       9812  Saud Shakeel     6           10

   strike_rate        date
0        83.33  1970-01-21
1        94.74  1970-01-21
2        86.21  1970-01-21
3        71.01  1970-01-21
4        60.00  1970-01-21

In [7]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS batters_bat_data (
        match_id BIGINT,
        innings_no INT,
        player_id BIGINT,
        player_name VARCHAR(100),
        runs INT,
        balls_faced INT,
        strike_rate FLOAT,
        date DATE
    )
    """)

conn_pymysql.commit()

print("Table 'fielding_data' created successfully in MySQL!")

Table 'fielding_data' created successfully in MySQL!

In [9]:
# Push all_batting DataFrame to MySQL safely
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

# --- CONFIG: change if needed ---
MYSQL_URI = "mysql+pymysql://root:admin@localhost:3306/cricbuzz_data"
TABLE_NAME = "batters_bat_data"
# -------------------------------

engine = create_engine(MYSQL_URI)

# 1) Create table if not exists (auto-increment primary key)
create_table_sql = f"""
CREATE TABLE IF NOT EXISTS `{TABLE_NAME}` (
  `batting_id` INT NOT NULL AUTO_INCREMENT,
  `match_id` INT,
  `innings_no` INT,
  `team_name` VARCHAR(255),
  `player_id` INT,
  `player_name` VARCHAR(255),
  `runs` INT DEFAULT 0,
  `balls_faced` INT DEFAULT 0,
  `strike_rate` FLOAT DEFAULT 0,
  `date` DATE,
  PRIMARY KEY (`batting_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""

with engine.begin() as conn:
    conn.execute(text(create_table_sql))

# 2) Prepare DataFrame for insert
# Replace this if your df variable has a different name
df = all_batting.copy()

# Guard: ensure df is a DataFrame
if not isinstance(df, pd.DataFrame):
    raise TypeError(f"Expected a pandas DataFrame called all_batting; found {type(df)}")

# If you accidentally included a client-side primary key, drop it so DB assigns unique ids
for possible_pk in ("batting_id", "performance_id", "id"):
    if possible_pk in df.columns:
        df = df.drop(columns=[possible_pk])

# Ensure expected columns exist and add defaults where missing
expected_cols = [
    "match_id", "innings_no", "team_name", "player_id",
    "player_name", "runs", "balls_faced", "strike_rate", "date"
]
for c in expected_cols:
    if c not in df.columns:
        df[c] = None

# Reorder to the expected layout
df = df[expected_cols]

# Clean / cast dtypes safely
df["match_id"] = pd.to_numeric(df["match_id"], errors="coerce").astype("Int64")
df["innings_no"] = pd.to_numeric(df["innings_no"], errors="coerce").astype("Int64")
df["player_id"] = pd.to_numeric(df["player_id"], errors="coerce").astype("Int64")
df["runs"] = pd.to_numeric(df["runs"], errors="coerce").fillna(0).astype(int)
df["balls_faced"] = pd.to_numeric(df["balls_faced"], errors="coerce").fillna(0).astype(int)
# strike_rate might be missing or non-numeric
df["strike_rate"] = pd.to_numeric(df["strike_rate"], errors="coerce").fillna(0.0).astype(float)
# date -> convert to datetime.date if possible
df["date"] = pd.to_datetime(df["date"], errors="coerce").dt.date

# 3) Remove exact duplicate rows to avoid redundant inserts
before = len(df)
df = df.drop_duplicates(subset=["match_id", "innings_no", "player_id", "runs", "balls_faced", "strike_rate", "date"])
after = len(df)
print(f"Removed {before-after} exact duplicate rows. Rows to insert: {after}")

# 4) Insert into MySQL in chunks (method='multi' for faster multi-row inserts)
try:
    df.to_sql(
        name=TABLE_NAME,
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
        chunksize=500
    )
    print(f"Inserted {len(df)} rows into `{TABLE_NAME}` successfully.")
except SQLAlchemyError as e:
    print("Error inserting into MySQL:", repr(e))
    # show a sample for debugging
    print(df.head(20))

Removed 0 exact duplicate rows. Rows to insert: 869
Inserted 869 rows into `batters_bat_data` successfully.

In [27]:
import requests
import pandas as pd
from datetime import datetime

# ---------------- Fetch API Data ----------------
def fetch_players_api(url, headers=None):
    """Fetches JSON data from the specified URL using a RapidAPI key."""
    if headers is None:
        headers = {
            "x-rapidapi-key": api_key,
            "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
        }
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data from {url}: {e}")
        return None

# ---------------- Extract Bowling Innings Data ----------------
def extract_bowling_innings_data(match_ids):
    """Extracts bowling data for multiple matches, including venue information."""
    all_bowling_innings = []

    for mid in match_ids:
        try:
            # API URLs
            url_scorecard = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            url_match = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}"

            scorecard_data = fetch_players_api(url_scorecard)
            match_data = fetch_players_api(url_match)

            if not scorecard_data or not match_data:
                continue

            # --- Corrected Venue Extraction ---
            venue_info = match_data.get("venueinfo", {})  # lowercase key
            venue = f"{venue_info.get('ground', '')}, {venue_info.get('city', '')}".strip(', ')
            if not venue:
                venue = venue_info.get('ground', '') or venue_info.get('city', '')

            # --- Scorecard and Bowling Data ---
            match_id = match_data.get("matchid", mid)  # lowercase key
            score_cards = scorecard_data.get("scorecard", [])  # lowercase key
            
            for innings in score_cards:
                innings_no = innings.get("inningsid", 0)  # lowercase key
                bowlers_list = innings.get("bowler", [])

                for bowler_info in bowlers_list:
                    player_id = bowler_info.get("id", 0)
                    player_name = bowler_info.get("name", "")
                    overs = float(bowler_info.get("overs", 0))
                    runs_conceded = int(bowler_info.get("runs", 0))
                    wickets = int(bowler_info.get("wickets", 0))
                    economy_rate = float(bowler_info.get("economy", 0))

                    bowling_record = {
                        "match_id": match_id,
                        "innings_no": innings_no,
                        "player_id": player_id,
                        "player_name": player_name,
                        "overs": overs,
                        "runs_conceded": runs_conceded,
                        "wickets": wickets,
                        "economy_rate": economy_rate,
                        "venue": venue
                    }

                    all_bowling_innings.append(bowling_record)

        except Exception as e:
            print(f"Failed to fetch bowling data for match {mid}: {e}")

    return pd.DataFrame(all_bowling_innings)

# ---------------- Provided API key ----------------
api_key = "17459daca1msh14fc5d2bbdedf11p1ebb91jsn912f772fb7d6"

match_ids = [100283, 38617, 38612, 38627, 75623, 78621, 48121, 70326, 91787, 60035, 100310, 75563]

bowling_innings = extract_bowling_innings_data(match_ids)

bowling_innings

,match_id,innings_no,player_id,player_name,overs,runs_conceded,wickets,economy_rate,venue
0,100283,1,13217,Arshdeep Singh,4.0,17,2,4.2,"Eden Gardens, Kolkata"
1,100283,1,9647,Hardik Pandya,4.0,42,2,10.5,"Eden Gardens, Kolkata"
2,100283,1,12926,Varun Chakravarthy,4.0,23,3,5.8,"Eden Gardens, Kolkata"
3,100283,1,8808,Axar,4.0,22,2,5.5,"Eden Gardens, Kolkata"
4,100283,1,14659,Ravi Bishnoi,4.0,22,0,5.5,"Eden Gardens, Kolkata"
...,...,...,...,...,...,...,...,...,...
169,75563,2,9311,Jasprit Bumrah,5.0,8,1,1.6,"Wankhede Stadium, Mumbai"
170,75563,2,10808,Mohammed Siraj,7.0,16,3,2.3,"Wankhede Stadium, Mumbai"
171,75563,2,7909,Mohammed Shami,5.0,18,5,3.6,"Wankhede Stadium, Mumbai"
172,75563,2,8292,Kuldeep Yadav,2.0,3,0,1.5,"Wankhede Stadium, Mumbai"
173,75563,2,587,Ravindra Jadeja,0.4,4,1,6.0,"Wankhede Stadium, Mumbai"

In [28]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS bowlers_bow_v_data (
        match_id INT,
        innings_no INT,
        player_id INT,
        player_name VARCHAR(100),
        overs FLOAT,
        runs_conceded INT,
        wickets INT,
        economy_rate FLOAT,
        venue VARCHAR(200)
    )
    """)

conn_pymysql.commit()

print("Table 'bowlers_bow_v_data' created successfully in MySQL!")

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
bowling_innings.to_sql("bowlers_bow_v_data", con=engine, if_exists="append", index=False)

Table 'bowlers_bow_v_data' created successfully in MySQL!

174

In [29]:
def extract_partnerships_data(match_ids):
    """
    Extracts partnership data for multiple matches, including the wicket number.
    """
    all_partnerships = []

    for mid in match_ids:
        try:
            url_scorecard = f"https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{mid}/hscard"
            scorecard_data = fetch_players_api(url_scorecard)

            if not scorecard_data:
                continue

            score_cards = scorecard_data.get("scorecard", [])
            
            for innings in score_cards:
                innings_no = innings.get("inningsid", 0)
                
                # Correct key for partnerships
                partnerships_list = innings.get("partnership", {}).get("partnership", [])
                
                # Use enumerate to get the wicket number based on the order in the list
                for index, partnership_info in enumerate(partnerships_list):
                    batter1_id = partnership_info.get("bat1id", 0)
                    batter2_id = partnership_info.get("bat2id", 0)
                    batter1_name = partnership_info.get("bat1name", "")
                    batter2_name = partnership_info.get("bat2name", "")
                    runs_partnership = partnership_info.get("totalruns", 0)
                    balls_faced = partnership_info.get("totalballs", 0)
                    
                    # The wicket_fallen number is the index + 1
                    wicket_fallen = index + 1

                    partnership_record = {
                        "match_id": mid,
                        "innings_no": innings_no,
                        "batter1_id": batter1_id,
                        "batter2_id": batter2_id,
                        "batter1_name": batter1_name,
                        "batter2_name": batter2_name,
                        "runs_partnership": runs_partnership,
                        "balls_faced": balls_faced,
                        "wicket_fallen": wicket_fallen
                    }

                    all_partnerships.append(partnership_record)

        except Exception as e:
            print(f"Failed to fetch partnerships data for match {mid}: {e}")

    return pd.DataFrame(all_partnerships)

api_key = "17459daca1msh14fc5d2bbdedf11p1ebb91jsn912f772fb7d6"

# Call for multiple matches
match_ids = [38321, 50958, 59965, 48205, 48401]
partnerships = extract_partnerships_data(match_ids)
partnerships

,match_id,innings_no,batter1_id,batter2_id,batter1_name,batter2_name,runs_partnership,balls_faced,wicket_fallen
0,38321,1,6534,6507,Roy,Bairstow,12,9,1
1,38321,1,6534,8019,Roy,Root,0,3,2
2,38321,1,6534,6557,Roy,Stokes,54,47,3
3,38321,1,2258,6557,Buttler,Stokes,8,21,4
4,38321,1,2258,6692,Buttler,Moeen Ali,75,84,5
...,...,...,...,...,...,...,...,...,...
71,48401,2,9427,8271,Hooda,Samson,27,34,5
72,48401,2,9427,8808,Hooda,Axar,51,33,6
73,48401,2,8683,8808,Thakur,Axar,22,12,7
74,48401,2,9781,8808,Avesh Khan,Axar,24,19,8
75,48401,2,10808,8808,Siraj,Axar,8,4,9

In [30]:
cursor_pymysql.execute( """
    CREATE TABLE IF NOT EXISTS players_ps_data (
        match_id INT,
        innings_no INT,
        batter1_id INT,
        batter2_id INT,
        batter1_name VARCHAR(100),
        batter2_name VARCHAR(100),
        runs_partnership INT,
        balls_faced INT,
        wicket_fallen INT
    )
    """)

conn_pymysql.commit()

print("Table 'players_ps_data' created successfully in MySQL!")

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:admin@localhost:3306/cricbuzz_data")
partnerships.to_sql("players_ps_data", con=engine, if_exists="append", index=False)

Table 'players_ps_data' created successfully in MySQL!

76